{{> '@tpl-head' }}
</head>
<body>
<!-- TODO: FIND other uses of select also and replace -->
<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

{{> '@tpl-script-select-config' }}

</body>
</html>
