<div class="md-form">
    <select class="mdb-select">
        <option value="" disabled selected>Selecteer een optie</option>
        <option value="1">Optie 1</option>
        <option value="2">Optie 2</option>
        <option value="3">Optie 3</option>
    </select>
    <label>Voorbeeld label</label>
</div>
