<div class="md-form">
    <div class="aria-select">
        <button
            aria-haspopup="listbox"
            aria-labelledby="example-select-label example-select-button"
            id="example-select-button"
        >
            Choose your option
        </button>
        <ul
            tabindex="-1"
            role="listbox"
            aria-labelledby="example-select-element"
            class="aria-select-list hidden"
        >
            <li id="example-select-element_1" data-value="1" role="option">
                Option 1
            </li>
            <li id="example-select-element_2" data-value="2" role="option">
                Option 2
            </li>
            <li id="example-select-element_3" data-value="3" role="option">
                Option 3
            </li>
        </ul>
        <input type="hidden" id="example-select-element" name="example-select-element">
        <label id="example-select-label" for="example-select-element">Example Select Element</label>
    </div>
</div>
