<div class="tabs-wrapper">
    <ul class="nav {{ modifier }}" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#example-panel-1" role="tab">Tab One</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#example-panel-2" role="tab">Tab Two</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#example-panel-3" role="tab">Tab Three</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#example-panel-4" role="tab">Tab Four</a>
        </li>
    </ul>
</div>

<div class="tab-content card">
    <div class="tab-pane fade" id="example-panel-1" role="tabpanel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>

    <div class="tab-pane fade" id="example-panel-2" role="tabpanel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>

    <div class="tab-pane fade" id="example-panel-3" role="tabpanel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>

    <div class="tab-pane fade" id="example-panel-4" role="tabpanel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>
</div>
