
<!-- Nav tabs -->
<div class="tabs-wrapper">
    <ul class="nav classic-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel51" role="tab">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel52" role="tab">Follow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel53" role="tab">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel54" role="tab">Be awesome</a>
        </li>
    </ul>
</div>
