<p>
    Static example (html only)

    <nav aria-label="Pagina navigatie">
        <ul class="pagination">
            <li class="page-item page-item-previous disabled">
                <a class="page-link" href="" aria-disabled="true">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-left" aria-hidden="true"></span></span>
                    <span class="sr-only">Vorige</span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="">1 <span class="sr-only">(huidig)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">3</a>
            </li>
            <li class="page-item page-item-next">
                <a class="page-link" href="">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-right" aria-hidden="true"></span></span>
                    <span class="sr-only">Volgende</span>
                </a>
            </li>
        </ul>
    </nav>
</p>

<p>
    Dynamic example (with pagination script)

    <nav aria-label="Pagina navigatie">
        <ul class="pagination" id="paginationExample">
            <li class="page-item page-item-previous">
                <a class="page-link" href="">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-left" aria-hidden="true"></span></span>
                    <span class="sr-only">Vorige</span>
                </a>
            </li>
            <li class="page-item page-item-next">
                <a class="page-link" href="">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-right" aria-hidden="true"></span></span>
                    <span class="sr-only">Volgende</span>
                </a>
            </li>
        </ul>
    </nav>
</p>

<script id="pagination-item-template" type="text/template">
    <li class="page-item">
        <a class="page-link" href=""></a>
    </li>
</script>

<script id="pagination-item-current-template" type="text/template">
    <span class="sr-only">(huidig)</span>
</script>
