{{> '@tpl-head' }}
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}

{{> '@tpl-scripts' }}

<script>
    $('.responsive-table').each(function() {
        var headings = $(this).find('thead th').map(function() {
            return this.textContent;
        }).toArray();

        if (headings.length > 0) {
            $(this).find('tbody td').each(function(tdIdx) {
                this.setAttribute('data-title', headings[tdIdx % headings.length]);
            });
        }
    });
</script>
</body>
</html>
