{{> '@tpl-head' }}
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

<script>
    $('.responsive-table > tbody  > tr').each(function () {
        $table = this;
        $(this).find('> td').each(function (j, td) {
            var title = $($($table).parents(".responsive-table").find('> thead > tr > th').get(j)).text();
            $(td).attr("data-title", title);
        })
    });
</script>
</body>
</html>
