<section class="facets facets-advanced" id="facets" role="navigation">
    <button class="facets__title">Filter results</button>
    <div class="facets__facets">
    </div>
</section>

<script id="facets-advanced-group-template" type="text/template">
    <div class="facets__group">
        <button class="facets__group-button">
            <span class="facets__group-title"></span>
        </button>
        <ul class="facets__list">
        </ul>
    </div>
</script>

<script id="facets-advanced-item-template" type="text/template">
    <li class="facets__item">
        <a class="facets__link" href=""></a>
    </li>
</script>

<script id="facets-advanced-item-checkbox-template" type="text/template">
    <li class="facets__item">
        <input type="checkbox" class="facets__checkbox form-check-input">
        <label for="" class="facets__label form-check-label"></label>
    </li>
</script>
