<ul class="ml-3 pl-4">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>

<ul class="list-inline">
    <li class="list-inline-item">List inline item 1</li>
    <li class="list-inline-item">List inline item 2</li>
    <li class="list-inline-item">List inline item 3</li>
</ul>
