<ol>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ol>

<ul class="list-inline">
    <li class="list-inline-item">Item 1</li>
    <li class="list-inline-item">Item 2</li>
    <li class="list-inline-item">Item 3</li>
</ul>

<ul class="list-disc ml-3 mb-2">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>

<ul class="list-circle ml-3 mb-2">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>

<ul class="list-square ml-3 mb-2">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>

<ul class="list-roman ml-3 mb-2">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>

<ul class="list-alpha ml-3 mb-2">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>