@use '@gemeentenijmegen/design-tokens/dist/index.css';
@import './mixin';
    ul:not([class]) {
        margin-left: unset;
    padding-left: unset;
    }
.nijmegen-theme {
    @import '@utrecht/components/button/css/index';
    @import '@utrecht/link-css/dist/index';
    @import '@utrecht/button-group-css/dist/index';
    @import '@gemeentenijmegen/layout-css/dist/layout';
    @import '@utrecht/link-list-css/dist/index';

    ul:not([class]) li:before {
        all:unset;
    }

    // class mapping for nijmegen.nl
    .btn {
        @include utrecht-button;
        width: initial;
        margin: 0;
        box-shadow: none;
        letter-spacing: normal;
        &:disabled {
            @include utrecht-button--disabled;
        }
        &:focus:not(:disabled, [aria-disabled='true']) {
            @include utrecht-button--focus;
        }
        &:focus-visible {
            @include utrecht-button--focus;
            @include utrecht-button--focus-visible;
        }
        &:hover:not(:disabled, [aria-disabled='true']) {
            @include utrecht-button--hover;
        }
        &:active:not(:disabled, [aria-disabled='true']) {
            @include utrecht-button--active;
        }
        &.btn-primary {
            @include utrecht-button-appearance-properties('utrecht-button', 'primary-action');
        }
        &.btn-secondary {
            @include utrecht-button-appearance-properties('utrecht-button', 'secondary-action');
        }
    }
}

@import '@gemeentenijmegen/semantic-html/dist/index';