@use '@gemeentenijmegen/design-tokens/dist/index.css';
@import './mixin';

.nijmegen-theme {
    @import '@utrecht/components/button/css/index';
    @import '@utrecht/link-css/dist/index';
    @import '@utrecht/button-group-css/dist/index';
    @import '@gemeentenijmegen/layout-css/dist/layout';
    @import '@utrecht/link-list-css/dist/index';
}

@import '@gemeentenijmegen/semantic-html/dist/index';

.nijmegen-html {
    // temp for testing
    --utrecht-paragraph-margin-block-end: 1rem;
    --utrecht-paragraph-margin-block-start: 1rem;
    ul:not([class]) {
        margin-left: calc(var(--utrecht-space-around, 0) * var(--utrecht-unordered-list-margin-block-start, var(--utrecht-paragraph-margin-block-start, 0)));
        padding-left: var(--utrecht-unordered-list-padding-inline-start, 2ch);
    }

    ul:not([class]) li:before {
        all: unset;
    }

    // class mapping for nijmegen.nl
    .btn {
        @include utrecht-button;
        width: initial;
        margin: 0;
        box-shadow: none;
        letter-spacing: normal;

        &:disabled {
            @include utrecht-button--disabled;
        }

        &:focus:not(:disabled, [aria-disabled='true']) {
            @include utrecht-button--focus;
        }

        &:focus-visible {
            @include utrecht-button--focus;
            @include utrecht-button--focus-visible;
        }

        &:hover:not(:disabled, [aria-disabled='true']) {
            @include utrecht-button--hover;
        }

        &:active:not(:disabled, [aria-disabled='true']) {
            @include utrecht-button--active;
        }

        &.btn-primary {
            @include utrecht-button-appearance-properties('utrecht-button', 'primary-action');
        }

        &.btn-secondary {
            @include utrecht-button-appearance-properties('utrecht-button', 'secondary-action');
        }
    }

}

// temp fixes
.nijmegen-html a:not([class]) {
    cursor: pointer;
    text-decoration: underline;
}

.nijmegen-html [type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}