{{> '@tpl-head' }}
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

{{> '@tpl-script-datepicker-config' }}

{{!-- Open the datepicker onload --}}
<script>
    $("#date-picker-example").click();
</script>

</body>
</html>
