<div class="md-form">
    <div class="date-picker">
        <label for="date-picker-example-input">Date picker</label>
        <span class="sr-only" id="date-picker-example-instruction">
            Geef een datum op in het volgende formaat: dag/maand/jaar. Bijvoorbeeld: 30/05/2010.
        </span>
        <input placeholder="dag/maand/jaar" type="text" id="date-picker-example-input" class="form-control"
            aria-describedby="date-picker-example-instruction" />
        <button id="date-picker-example-button" aria-hidden="true" tabindex="-1">
            <i class="mdi mdi-calendar" aria-hidden="true"></i>
        </button>
    </div>
</div>
