<div class="md-form">
    <div class="date-picker">
        <input placeholder="dd/mm/jjjj" type="text" id="date-picker-example-input" class="form-control">
        <button id="date-picker-example-button" aria-hidden="true" tabindex="-1">
            <i class="mdi mdi-calendar" aria-hidden="true"></i>
        </button>
        <label for="date-picker-example-input">Date picker (dd/mm/jjjj)</label>
    </div>
</div>
