<p>
    <i class="material-icons">accessibility</i>
    <i class="material-icons">add</i>
    <i class="material-icons">keyboard_arrow_left</i>
    <i class="material-icons">keyboard_arrow_right</i>
    <i class="material-icons">arrow_back</i>
    <i class="material-icons">arrow_forward</i>
    <i class="material-icons">close</i>
    <i class="material-icons">expand_less</i>
    <i class="material-icons">expand_more</i>
    <i class="material-icons">search</i>
    <i class="material-icons">home</i>
</p>

<p>
    <i class="material-icons">phone</i>
    <i class="material-icons">chat_bubble</i>
    <i class="material-icons">textsms</i>
    <i class="material-icons">mail</i>
    <i class="material-icons">near_me</i>
    <i class="material-icons">place</i>
</p>

<p>
    <i class="material-icons">check</i>
    <i class="material-icons">warning</i>
    <i class="material-icons">error</i>
</p>