<p>
    <i class="mdi mdi-chevron-left" aria-hidden="true"></i>
    <i class="mdi mdi-chevron-right" aria-hidden="true"></i>
    <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
    <i class="mdi mdi-arrow-right" aria-hidden="true"></i>
    <i class="mdi mdi-close" aria-hidden="true"></i>
    <i class="mdi mdi-home" aria-hidden="true"></i>
    <i class="mdi mdi-magnify" aria-hidden="true"></i>
</p>

<p>
    <i class="mdi mdi-phone" aria-hidden="true"></i>
    <i class="mdi mdi-email" aria-hidden="true"></i>
    <i class="mdi mdi-send" aria-hidden="true"></i>
    <i class="mdi mdi-map-marker" aria-hidden="true"></i>
</p>

<p>
    <i class="mdi mdi-alert" aria-hidden="true"></i>
    <i class="mdi mdi-check" aria-hidden="true"></i>
    <i class="mdi mdi-information" aria-hidden="true"></i>
</p>
