/.idea
.DS_Store
node_modules
/build
/public
!changelogs/unreleased/.gitkeep

# Regression testing
/test/regression/results/reports
/test/regression/results/screenshots/compare
/test/regression/results/screenshots/diff
/test/regression/results/screenshots/error

.cache
