<h1>Icon list</h1>

<div>
  <p>Deze lijst is slechts een selectie van de icons die wij aanbieden en die door Nijmegen op dit moment is gebruik zijn. Voor de volledige lijst kun je naar <a href="https://materialdesignicons.com/">materialdesignicons</a>. Gebruik je een icon maar werkt deze niet, dan kan het zo zijn dat deze is verwijderd bij het upgrade naar een nieuwe versie of dat we nog niet up to date zijn met de laatste versie van Materialdesignicons. In dat geval neem dan gerust contact met ons op.</p>
  <p>Om te kijken naar de changelog van Materialdesignicons, deze kun je <a href="https://materialdesignicons.com/history">hier</a> vinden.</p>
</div>

<div class="nijmegen">
  <table>
    <thead>
      <tr>
        <th>Naam</th>
        <th>Class</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      {{#each icons}}
      <tr>
        <td>{{this.name}}</td>
        <td><code>{{this.class}}</code></td>
        <td><span class="mdi {{this.class}}"></span></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
