.accordion {
    .card {
        .card-header {
            padding: 0;

            a {
                padding: 1rem 1.5rem;
                width: 100%;
                display: inline-block;

                &:not(.collapsed) {
                    h5,
                    i {
                        color: color('nijmegen-primary', 'darken-3');
                    }
                }

                h5 {
                    font-family: 'Oranda', sans-serif;
                    color: color('nijmegen-primary', 'base');
                }

                i {
                    float: right;
                    font-size: to-rem(36);
                }
                &:focus,
                &:hover {
                    h5,
                    i {
                        color: color('nijmegen-primary', 'darken-2');
                    }
                }

                &:focus {
                    @include tab-focus;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
