.accordion {
    .card {
        .card-header {
            padding: 0;

            a {
                padding: 1rem 1.5rem;
                width: 100%;
                display: inline-block;

                &:not(.collapsed) {
                    h5,
                    i {
                        color: color('nijmegen-primary', 'darken-3');
                    }
                }

                h5 {
                    font-family: 'Oranda', sans-serif;
                    color: color('nijmegen-primary', 'base');
                }

                i {
                    float: right;
                    font-size: to-rem(36);
                }
                &:focus,
                &:hover {
                    h5,
                    i {
                        color: color('nijmegen-primary', 'darken-2');
                    }
                }

                &:focus {
                    @include tab-focus;
                }
            }
        }
    }
}




.mdb-select {
    .caret {
        visibility: hidden;
        position: relative;

        &:before {
            @include material-icons;
            content: 'keyboard_arrow_down';
            position: absolute;
            visibility: visible;
            right: 15px;
            font-size: to-rem($select-caret-icon-size);
            color: color('nijmegen-primary', 'base');
        }
    }

    & + label {
        font-weight: $font-weight-semibold;
        top: -1.5rem;
    }

    &:hover {
        &:before {
            color: color('nijmegen-primary', 'darken-2');
        }
    }
}

.dropdown-content {
    li {
        border-bottom: 1px solid rgba(0, 0, 0, .125);

        span {
            color: $body-color;
            font-size: to-rem(16);
        }

        &.active {
            background-color: transparent;

            span {
                color: color('nijmegen-primary', 'base');
            }
        }

        &.selected {
            background-color: transparent;
            color: color('nijmegen-primary', 'base');
        }

        &:hover:not(.disabled) {
            background-color: color('nijmegen-grey', 'darken-2');
            span {
                color: color('shades', 'white');
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:first-child {
            position: relative;
        }

        &:first-child:after {
            @include material-icons;
            content: 'keyboard_arrow_up';
            position: absolute;
            visibility: visible;
            right: 15px;
            top: 50%;
            margin-top: to-rem(-$select-caret-icon-size / 2);
            font-size: to-rem($select-caret-icon-size);
            color: color('nijmegen-primary', 'base');
        }
    }
}
