.horizontal-collapse {
    position: relative;
    .btn-floating-collapse {

    }
    .expand-horizontal {
        position: absolute;
        top: 16px;
        bottom: 16px;
        background: red;
        margin: 0;
        li {
        }
    }
}
