.btn {
    display: block;
    font-size: to-rem(18);
    font-weight: $font-weight-semibold;
    letter-spacing: 0.7px;
    width: calc(100% - 6px - 6px); // MDB sets left and right margins of 6px each

    @media #{$medium-and-up} {
        display: inline-block;
        width: 250px;
    }
}

.btn-primary {
    @extend .btn-primary;

    &:hover {
        background-color: color('nijmegen-primary', 'lighten-1') !important;
    }

    &:focus {
        background-color: color('nijmegen-primary', 'darken-1') !important;
        @include tab-focus;
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:hover {
        background-color: color('nijmegen-primary', 'darken-3') !important;
    }

    &:disabled,
    &:disabled:hover {
        background-color: color('nijmegen-grey', 'base') !important;
        box-shadow: none;
    }
}

.btn-secondary {
    @extend .btn-secondary;
    border: 1px solid color('nijmegen-grey', 'darken-1');
    color: color('nijmegen-primary', 'base') !important;

    &:hover,
    &:focus {
        background-color: color('nijmegen-grey', 'lighten-1') !important;
        color: color('nijmegen-primary', 'darken-2') !important;
    }

    &:focus {
        @include tab-focus;
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:hover {
        background-color: color('nijmegen-grey', 'lighten-1') !important;
        color: #212121 !important;
    }

    &:disabled,
    &:disabled:hover {
        @extend .z-depth-1;
        background-color: color('shades', 'white') !important;
        border-color: color('nijmegen-grey', 'darken-1');
        color: color('nijmegen-grey', 'base') !important;
    }
}

.btn-info {
    @extend .btn-info;

    border: 1px solid transparent;
    box-shadow: none;
    color: color('nijmegen-primary', 'base') !important;

    &:hover,
    &:focus {
        background-color: color('nijmegen-grey', 'lighten-1') !important;
        border-color: transparent;
        box-shadow: none;
        color: color('nijmegen-primary', 'darken-2') !important;
    }

    &:focus {
        background-color: color('shades', 'white') !important;
        border-color: color('nijmegen-grey', 'base');
        @include tab-focus;
    }

    &:active,
    &.active,
    &:active:hover,
    &.active:hover {
        background-color: color('shades', 'white');
        border-color: transparent;
        box-shadow: none;
        color: $body-color !important;
    }

    &:disabled,
    &:disabled:hover {
        background-color: color('shades', 'white') !important;
        border-color: transparent;
        color: color('nijmegen-grey', 'base') !important;
    }
}
