.btn-floating-primary {
    background-color: color('nijmegen-primary', 'base');
    color: color('shades', 'white');


    &:hover {
        background-color: color('nijmegen-primary', 'lighten-1');
    }

    &:focus {
        background-color: color('nijmegen-primary', 'lighten-2');

        &:after {
            border: 1px solid $focus-color !important;
        }
    }

    &:active{
        background-color: color('nijmegen-primary', 'darken-3') !important;
    }
}


.btn-floating.btn-large {
    height: to-rem(56);
    width: to-rem(56);

    i {
        font-size: to-rem(28);
    }
}

.btn-floating {
    &:focus {
        outline: none !important;
        overflow: initial;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border-radius: 100%;
            left: to-rem(-7);
            right: to-rem(-7);
            bottom: to-rem(-7);
            top: to-rem(-7);
        }
    }
}

// This comes directly from mdb
.btn-floating.btn-small .mdi {
    font-size: 0.93rem;
    margin-top: 5px;
    line-height: 37px;
}
