.card {
    & > figure {
        margin-bottom: 0;
    }

    figure {
        @include aspect-ratio(7, 3);

        .badge {
            font-size: to-rem(12);
            padding: to-rem(6) to-rem(20);
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 0;
        }
    }
}

.card-block {
    figure {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }

    img {
        border-radius: 0;
    }

    .mdi {
        color: color('nijmegen-brand', 'base');
    }

    p:last-of-type {
        margin-top: 4rem;
    }
}

.card-title {
    font-family: 'Oranda', sans-serif;
    font-weight: $font-weight-normal;
    color: color('nijmegen-brand', 'base');
    word-wrap: break-word;
}

.card-text {
    color: $body-color;
}

.card-filename {
    .card-title {
        font-size: to-rem(28);
        line-height: 1.5;
        margin-bottom: 1.5rem;
        min-height: 90px;
    }

    p:last-of-type {
        margin-top: 0;
    }
}

.card-news {
    .card-title {
        font-size: to-rem(24);
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}

.card-services {
    .card-title {
        font-size: to-rem(28);
        line-height: calc(32 / 28);
        margin-bottom: 2rem;
    }

    p:last-of-type {
        margin-top: 2rem;
    }
}
