.chip {
    color: $body-color !important;
    background-color: color('shades', 'white');
    font-weight: $font-weight-semibold;
    font-size: to-rem(13);
    padding-right: 16px;

    .close {
        color: color('nijmegen-primary', 'base');
        margin-right: -8px;
        font-size: to-rem(16);
        font-weight: $font-weight-semibold;

        &:focus,
        &:hover {
            color: color('nijmegen-primary', 'darken-2');
        }
    }
}
