$body-color: #212121;           // rgb(33, 33, 33)

$focus-color: #00b593;          // rgb(0, 181, 147)

$nijmegen-brand: #a80a2d;       // rgb(168, 10, 45);

$nijmegen-grey: (
    "lighten-1":  #efefef,      // rgb(239, 239, 239)
    "base":       #dadada,      // rgb(218, 218, 218)
    "darken-1":   #ababab,      // rgb(171, 171, 171)
    "darken-2":   #6b6b6b,      // rgb(107, 107, 107)
);

$nijmegen-primary: (
    "lighten-2":  #00b593,      // rgb(0, 181, 147)
    "lighten-1":  #30a08b,      // rgb(48, 160, 139)
    "base":       #157c68,      // rgb(21, 124, 104)
    "darken-1":   #1a6b5b,      // rgb(26, 107, 91)
    "darken-2":   #17564a,      // rgb(23, 86, 74)
    "darken-3":   #123f36,      // rgb(18, 63, 54)
);

// add the custom Nijmegen colors to the overall colors mapping so
// we can easily use a function/mixin to get a specific color
$colors: map-merge($colors, ('nijmegen-grey': $nijmegen-grey));
$colors: map-merge($colors, ('nijmegen-primary': $nijmegen-primary));
