$body-color: #212121;           // rgb(33, 33, 33)

$focus-color: #00b593;          // rgb(0, 181, 147)

$nijmegen-brand: (
    'base':       #a80a2d,      // rgb(168, 10, 45);
    'darken-1':   #780721,      // rgb(120, 7, 33);
    'darken-2':   #580518,      // rgb(88, 5, 24);
);

$nijmegen-grey: (
    'lighten-1':  #efefef,      // rgb(239, 239, 239)
    'base':       #dadada,      // rgb(218, 218, 218)
    'darken-1':   #ababab,      // rgb(171, 171, 171)
    'darken-2':   #6b6b6b,      // rgb(107, 107, 107)
);

$nijmegen-primary: (
    'lighten-2':  #00b593,      // rgb(0, 181, 147)
    'lighten-1':  #30a08b,      // rgb(48, 160, 139)
    'base':       #157c68,      // rgb(21, 124, 104)
    'darken-1':   #1a6b5b,      // rgb(26, 107, 91)
    'darken-2':   #17564a,      // rgb(23, 86, 74)
    'darken-3':   #123f36,      // rgb(18, 63, 54)
);

$nijmegen-backgrounds: (
    'default':    $body-color,
    'primary':    #5b5b5b,
    'success':    #cddc39,
    'info':       #40c4ff,
    'warning':    #ffab00,
    'danger':     #d50000,
    'pagination-active': #3a3a3a,
);

$nijmegen-text: (
        'body-color': $body-color,
        'disabled': #cccccc          // rgb(204, 204, 204)
);

// add the custom Nijmegen colors to the overall colors mapping so
// we can easily use a function/mixin to get a specific color
$colors: map-merge($colors, ('nijmegen-brand': $nijmegen-brand));
$colors: map-merge($colors, ('nijmegen-grey': $nijmegen-grey));
$colors: map-merge($colors, ('nijmegen-primary': $nijmegen-primary));
$colors: map-merge($colors, ('nijmegen-backgrounds': $nijmegen-backgrounds));
$colors: map-merge($colors, ('nijmegen-text': $nijmegen-text));

$link-color:        map-get($nijmegen-primary, 'base');
$link-hover-color:  map-get($nijmegen-primary, 'darken-2');
$link-focus-color:  map-get($nijmegen-primary, 'darken-2');
$link-active-color: map-get($nijmegen-primary, 'darken-3');
