.picker {
    .picker__header .picker__date-display {
        background-color: color('nijmegen-brand', 'base');

        .picker__weekday-display {
            text-transform: capitalize;
            background-color: color('nijmegen-brand', 'darken-1');
        }

        > div:not(.picker__weekday-display) {
            font-family: 'Oranda', sans-serif;
            color: color('shades', 'white');
            font-size: to-rem(38);

            &.picker__month-display,
            &.picker__year-display {
                font-size: to-rem(18);
            }
        }
    }

    .picker__nav--next,
    .picker__nav--prev {
        &:hover {
            background: none;
        }
        
        &:before {
            @include material-icons;
            border: 0;
            margin: initial;
            font-size: to-rem(18);
            color: color('nijmegen-primary', 'base');
        }
    }

    .picker__nav--prev {
        left: -0.5em;
        &:before {
            content: 'arrow_back';
        }
    }

    .picker__nav--next {
        right: -0.5em;
        &:before {
            content: 'arrow_forward';
        }
    }

    .picker__table {
        thead tr th {
            color: color('shades', 'black');
            font-weight: $font-weight-semibold;
            font-size: to-rem(14);
            text-transform: capitalize;
        }

        tbody tr td .picker__day--infocus {
            padding: 0;
            margin: 0 auto;
            color: color('nijmegen-grey', 'darken-2');
            width: to-rem(27);
            height: to-rem(27);
            line-height: to-rem(27);
            font-size: to-rem(14);
            &:hover {
                color: color('nijmegen-forms', 'body-color');
            }

            &.picker__day--selected {
                color: color('nijmegen-forms', 'body-color');
                background-color: color('nijmegen-forms', 'picker-focus');
                box-shadow: none;
                font-weight: $font-weight-semibold;
                transform: initial;
            }
        }
    }

    .picker__footer {

        .picker__button--close,
        .picker__button--today {
            color: color('nijmegen-primary', 'base');
            font-size: to-rem(16);
            font-weight: $font-weight-normal;
            text-transform: capitalize;

            &:before {
                content: initial;
            }

            &:focus,
            &:hover {
                background-color: transparent;
                border: 0;
            }
        }

        .picker__button--clear {
            display: none;
        }
    }
}
