footer.page-footer {
    background-color: color('nijmegen-backgrounds', 'footer-primary');
    margin-top: 0;
    padding-top: 30px;

    .title {
        font-size: to-rem(20);
        line-height: to-rem(26);
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
    }

    .footer-copyright {
        background-color: color('nijmegen-backgrounds', 'default');
        color: color('shades', 'white');
        height: to-rem(78);
        line-height: to-rem(78);
        font-size: to-rem(16);

        img {
            margin-right: 10px;
        }
    }
}

.footer-content {
    .link-list-wrapper {
        display: flex;

        > .link-list {
            flex: 1;
        }
    }

    table tbody tr td,
    .link-list li a {
        padding-top: to-rem(4);
        padding-bottom: to-rem(4);
        font-size: to-rem(14);
        letter-spacing: to-rem(0.1);
    }

    .contact-list li a {
        font-size: to-rem(16);
    }

    .link-list li {
        padding: to-rem(4) 0 to-rem(4) to-rem(8);
        line-height: to-rem(20);

        a {
            line-height: to-rem(35);

            &:hover {
                text-decoration: underline;
            }
        }

        i {
            padding: to-rem(10) to-rem(8);
            font-size: to-rem(19);
            vertical-align: middle;
        }
    }

    table {
        width: 100%;
        margin-bottom: 1rem;

        thead th {
            line-height: 0;

            .badge {
                padding: 0.25rem;
                font-size: to-rem(12);
            }
        }

        tbody tr td {
            &:first-child {
                padding-left: to-rem(8);
                padding-right: to-rem(4);
            }

            &:last-child {
                padding-left: to-rem(4);
            }
        }
    }
}
