.hm-grey-light .mask {
    background-color: rgba($body-color, 0.3);
}

.hm-grey-strong .mask {
    background-color: rgba($body-color, 0.7);
}

.hm-grey-superlight .mask {
    background-color: rgba($body-color, 0.1);
}

.mask .white-text {
    font-weight: $font-weight-semibold;
}
