// Function to convert the pt from zeplin to rem, the by framework used format.
@function to-rem($pt) {
    @return ($pt / ($font-size-root / 1px)) + rem;
}

@mixin mdi($icon) {
    @include web-font-rendering-support;
    content: mdi($icon);
    font-family: '#{$mdi-font-name}';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    text-rendering: auto; // optimizelegibility throws things off #1094
    line-height: 1;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

@mixin web-font-rendering-support {
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@mixin tab-focus() {
    outline: 3px auto $focus-color !important;
}

@mixin tab-focus-minimal() {
    outline: 1px solid $focus-color !important;
}
