.pagination {
  .page-item {
    .page-link {
      width: 38px;
      height: 38px;
      margin: 0 1px;
      text-align: center;
      font-size: 1.125rem;
      color: color('nijmegen-primary', 'base');
      padding-left: 0;
      padding-right: 0;

      &:hover,
      &:focus {
        background-color: color('nijmegen-grey', 'lighten-1') !important;
      }

      &:focus {
        @include tab-focus;
      }
    }

    &.disabled .page-link,
    &:disabled {
      color: color('nijmegen-text', 'disabled');
    }

    &.active .page-link {
      background-color: color('nijmegen-backgrounds', 'pagination-active') !important;
      color: #ffffff;
      box-shadow: none;
    }
  }
}
