.picker {
    .picker__date-display {
        background-color: color('nijmegen-brand', 'base');
        padding-bottom: 0;
    }

    .clockpicker-display {
        height: auto;
        padding-bottom: 10px;
        font-family: 'Oranda', sans-serif;
        color: color('shades', 'white');
        font-size: to-rem(38);
    }

    .clockpicker-display-am-pm,
    .clockpicker-am-pm-block {
        display: none;
    }

    .clockpicker-plate {
        background-color: transparent;
        border: 2px solid color("nijmegen-grey", "base");
    }

    .clockpicker-dial {
        font-size: to-rem(14);
    }

    .picker__footer {
        padding: 10px 10px;

        .clockpicker-button {
            color: color('nijmegen-primary', 'base');
            font-size: to-rem(16);
            font-weight: $font-weight-normal;
            text-transform: capitalize;
            cursor: pointer;
            margin-left: auto;
            margin-right: initial;
        }
    }
}

.clockpicker-svg {
    line {
        stroke: color('nijmegen-primary', 'base');
    }
    .clockpicker-canvas-bg {
        fill: rgba(color('nijmegen-forms', 'picker-focus'), 0.9);
    }

    .clockpicker-canvas-fg {
        fill: transparent;
    }

    .clockpicker-canvas-bearing {
        fill: color('nijmegen-primary', 'lighten-1');
        r: 4;
    }
}
