<div class="card card-filename">
    <div class="card-body">
        <h3 class="card-title">Dossiernaam</h3>
        <figure>
            <img class="content" src="{{ mdbootstrapPath '/img/Photos/Vertical/mountain1.jpg' }}" alt="Card image cap">
        </figure>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <p class="card-read-more text-right mb-0 text-uppercase">
            <a href="" aria-label="Lees meer over dossiernaam">Lees meer</a>
        </p>
    </div>
</div>
