<div class="md-form">
    <input type="text" id="input-example" class="form-control" disabled value="This text is read-only">
    <label for="input-example" class="disabled">Example label</label>
</div>
