<div class="md-form">
    <input type="text" id="input-example" class="form-control invalid" placeholder="Placeholder" value="Test data">
    <label for="input-example" data-error="Error" data-success="right">Title</label>
</div>
