<div class="md-form">
    <input type="text" id="input-example" class="form-control" value="This text is read-only" disabled>
    <label for="input-example" class="disabled">Example label</label>
</div>
