// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap');

$oranda-font-path: '../font/oranda/';

$font-weight-normal:   400;
$font-weight-semibold: 600;
$font-weight-bold:     700;

@font-face {
    font-display: swap;
    font-family: 'Oranda';
    font-style: normal;
    font-weight: $font-weight-bold;
    src:
    local(Oranda BT Bold),
    url('#{$oranda-font-path}oranda_bold_bt.woff2') format('woff2'),
    url('#{$oranda-font-path}oranda_bold_bt.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Oranda';
    font-style: normal;
    font-weight: $font-weight-normal;
    src:
    local(Oranda BT Roman),
    url('#{$oranda-font-path}oranda_bt.woff2') format('woff2'),
    url('#{$oranda-font-path}oranda_bt.woff') format('woff');
}

html {
    @media only screen and (min-width: 0) {
        font-size: $font-size-base;
    }
    @media only screen and (min-width: $medium-screen) {
        font-size: $font-size-base;
    }
    @media only screen and (min-width: $large-screen) {
        font-size: $font-size-base;
    }
}

body,
input,
button,
textarea,
select {
    @include web-font-rendering-support;
    color: $body-color;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include web-font-rendering-support;
    font-family: 'Oranda', sans-serif;
    font-weight: $font-weight-normal;
}

h1 {
    font-size: to-rem(36);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(38);
    }
}

h2 {
    color: color('nijmegen-brand', 'base');
    font-size: to-rem(34);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(36);
    }
}

h3 {
    color: color('nijmegen-brand', 'base');
    font-size: to-rem(26);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(28);
    }
}

h4 {
    font-size: to-rem(26);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(28);
    }
}

h5 {
    color: color('white', 'base');
    font-size: to-rem(26);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(28);
    }
}

h6 {
    color: color('nijmegen-grey', 'darken-2');
    font-size: to-rem(22);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(24);
    }
}

dl, ul, ol {
    list-style: none;
    padding: 0;
}


ul:not([class]) {
    margin-left: 1rem;
    padding-left: 1.5rem;
    position: relative;

    li {
        &:before {
            font-family: initial;
            content: '●';
            font-size: to-rem(8);
            left: 0;
            margin-top: .75em;
            position: absolute;
        }
    }
}

ol:not([class]) {
    counter-reset: list-counter;
    margin-left: 1rem;
    padding-left: 1.5rem;
    position: relative;

    li {
        counter-increment: list-counter;
        &::before {
            content: counter(list-counter) '.';
            font-size: 1em;
            left: 0;
            margin: 0;
            padding-right: .5em;
            position: absolute;
        }
    }
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;

        h2, h3 {
            color: color('nijmegen-brand', 'darken-3');
        }

        h5 {
            color: color('nijmegen-grey', 'base');
        }

        h6 {
            color: color('nijmegen-grey', 'darken-4');
        }
    }

    &:focus {
        @include tab-focus-minimal;
        color: $link-focus-color;

        h2, h3 {
            color: color('nijmegen-brand', 'darken-3');
        }

        h1, h2, h3, h4, h5, h6 {
            outline: inherit;
        }

        h5 {
            color: color('nijmegen-grey', 'base');
        }

        h6 {
            color: color('nijmegen-grey', 'darken-4');
        }
    }

    &:active {
        color: $link-active-color;

        h2, h3 {
            color: color('nijmegen-brand', 'darken-3');
        }

        h5 {
            color: color('nijmegen-grey', 'base');
        }

        h6 {
            color: color('nijmegen-grey', 'darken-4');
        }
    }
}

.text-section a {
    text-decoration: underline;

    h1, h2, h3, h4, h5, h6 {
        text-decoration: underline;
    }
}

b, strong {
    font-weight: bold;
}

:focus {
    outline-color: $focus-color;

    &[tabindex='-1'] {
        animation: outlineRemove 3  s ease;
        outline-color: transparent;
    }
}

.text {
    &__underline {
        text-decoration: underline;
    }
}

@keyframes outlineRemove {
    0% {
        outline-color: transparent;
    }

    50% {
        outline-color: $focus-color;
    }

    100% {
        outline-color: transparent;
    }
}
