// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700');

$oranda-font-path: '../font/oranda/';

$font-weight-normal:   400;
$font-weight-semibold: 600;
$font-weight-bold:     700;

@font-face {
    font-family: 'Oranda';
    src: local(Oranda BT Bold), url('#{$oranda-font-path}oranda_bold_bt.eot');
    src: url('#{$oranda-font-path}oranda_bold_bt.eot?#iefix') format('embedded-opentype'),
         url('#{$oranda-font-path}oranda_bold_bt.woff2') format('woff2'),
         url('#{$oranda-font-path}oranda_bold_bt.woff') format('woff'),
         url('#{$oranda-font-path}oranda_bold_bt.ttf') format('truetype'),
         url('#{$oranda-font-path}oranda_bold_bt.svg#oranda_btbold') format('svg');
    font-weight: $font-weight-bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oranda';
    src: local(Oranda BT Roman), url('#{$oranda-font-path}oranda_bt.eot');
    src: url('#{$oranda-font-path}oranda_bt.eot?#iefix') format('embedded-opentype'),
         url('#{$oranda-font-path}oranda_bt.woff2') format('woff2'),
         url('#{$oranda-font-path}oranda_bt.woff') format('woff'),
         url('#{$oranda-font-path}oranda_bt.ttf') format('truetype'),
         url('#{$oranda-font-path}oranda_bt.svg#oranda_btroman') format('svg');
    font-weight: $font-weight-normal;
    font-style: normal;

}

html {
    @media only screen and (min-width: 0) {
        font-size: $font-size-base;
    }
    @media only screen and (min-width: $medium-screen) {
        font-size: $font-size-base;
    }
    @media only screen and (min-width: $large-screen) {
        font-size: $font-size-base;
    }
}

body,
input,
button,
textarea,
select {
    color: $body-color;
    font-family: 'Source Sans Pro', sans-serif;
    @include web-font-rendering-support;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oranda', sans-serif;
    font-weight: $font-weight-normal;
    @include web-font-rendering-support;
}

h1 {
    font-size: to-rem(36);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(38);
    }
}

h2 {
    color: color('nijmegen-brand', 'base');
    font-size: to-rem(34);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(36);
    }
}

h3 {
    color: color('nijmegen-brand', 'base');
    font-size: to-rem(26);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(28);
    }
}

h4 {
    font-size: to-rem(26);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(28);
    }
}

h5 {
    color: color('white', 'base');
    font-size: to-rem(26);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(28);
    }
}

h6 {
    color: color('nijmegen-grey', 'darken-2');
    font-size: to-rem(22);

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(24);
    }
}

dl, ol, ul {
    list-style-type: none;
    padding: 0;
}

ul:not([class]) {
    margin-left: 1rem;
    padding-left: 1.5rem;
    position: relative;

    li {
        &:before {
            content: '●';
            font-size: to-rem(8);
            position: absolute;
            left: 0;
            margin-top: 0.75em;
        }
    }
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;

        h2, h3 {
            color: color('nijmegen-brand', 'darken-3');
        }

        h5 {
            color: color('nijmegen-grey', 'base');
        }

        h6 {
            color: color('nijmegen-grey', 'darken-4');
        }
    }

    &:focus {
        @include tab-focus-minimal;
        color: $link-focus-color;

        h2, h3 {
            color: color('nijmegen-brand', 'darken-3');
        }

        h1, h2, h3, h4, h5, h6 {
            outline: inherit;
        }

        h5 {
            color: color('nijmegen-grey', 'base');
        }

        h6 {
            color: color('nijmegen-grey', 'darken-4');
        }
    }

    &:active {
        color: $link-active-color;

        h2, h3 {
            color: color('nijmegen-brand', 'darken-3');
        }

        h5 {
            color: color('nijmegen-grey', 'base');
        }

        h6 {
            color: color('nijmegen-grey', 'darken-4');
        }
    }
}

.text-section a:not(.no-underline) {
    text-decoration: underline;

    h1, h2, h3, h4, h5, h6 {
        text-decoration: underline;
    }
}

b, strong {
    font-weight: bold;
}

:focus {
    outline-color: $focus-color;
}
