{{> '@tpl-head' }}
<style>
    .sidebar,
    #sidebar {
        float: left;
        width: 230px;
    }

    #footer,
    .spacer {
        height: 1200px;
    }

    #header {
        left: 1rem;
        right: 1rem;
    }
</style>
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}
<script>
    $(function () {
        $("#header").sticky({
            topSpacing: 16,
            zIndex: 3,
            stopper: ".sidebar"
        });

        $("#sidebar").sticky({
            topSpacing: 16,
            zIndex: 2,
            stopper: "#footer"
        });
    });
</script>
</body>
</html>
