{{> '@tpl-head' }}
<style>
    .carousel {
        max-width: 1020px;
    }
</style>
</head>
<body>

<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

{{> '@carousel-scripts' }}

</body>
</html>
