<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialChecked" checked aria-checked="true">
    <label class="form-check-label" for="materialChecked">Voorbeeld checkbox</label>
</div>
