<a class="btn-floating btn-large btn-floating-primary" href="#"><i class="material-icons">add</i></a>
<a class="btn-floating btn-small btn-floating-primary" href="#"><i class="material-icons">add</i></a>
