{{> '@tpl-head' }}
</head>

<body>

    <main>
        {{!-- Underneath will render component output --}}
        {{{ yield }}}
    </main>

    {{> '@tpl-scripts' }}

    {{> '@autocomplete-scripts' }}

    {{> '@autocomplete-example-scripts' }}

</body>

</html>
