<form class="autocomplete autocomplete__form" method="GET" action="{{ searchAction }}" role="search">
    <input class="autocomplete__input form-control" type="text" placeholder="Zoeken" id="suggest-search-query" name="q"
        autocomplete="off" aria-controls="autocomplete-results" aria-autocomplete="both" aria-activedescendant=""
        aria-label="Zoekveld" />
    <button class="autocomplete__search-button" aria-label="Zoekknop">
        <i class="mdi mdi-magnify" aria-hidden="true"></i>
    </button>
    <ul id="autocomplete-results" class="autocomplete__result-list" aria-label="Zoekresultaten" role="listbox">

    </ul>
</form>

<script id="autocomplete-result-template" type="text/template">
    <li class="autocomplete__result-item">
        <a href="" class="autocomplete__result-link" role="option" id="" tabindex="-1"></a>
    </li>
</script>
