<form class="autocomplete__form">
    <label>Zoeken</label>
    <input class="form-control" type="text" placeholder="zoeken" id="suggest-search-query" autocomplete="off"></input>
    <ul id="autocomplete-results" class="autocomplete__result-list">

    </ul>
</form>

<script id="autocomplete-result-template" type="text/template">
    <li class="autocomplete__result-item">
        <a href="" class="autocomplete__result-link"></a>
    </li>
</script>
