<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ assetPath '/css/bootstrap.min.css' }}">
    <!-- Material Design Bootstrap combined with custom styles -->
    <link rel="stylesheet" href="{{ assetPath '/css/main.css' }}">

    <title>Preview Layout</title>

    {{!--Underneath is just for preview mode needed in the component library--}}
    <style>
        body {padding: 1rem;}
    </style>
