<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ path '/css/bootstrap.min.css' }}">
    <!-- Material Design Bootstrap combined with custom styles -->
    <link rel="stylesheet" href="{{ path '/css/main.css' }}">

    <title>Preview Layout</title>

    {{!--Underneath is just for preview mode needed in the component library--}}
    <style>
        body {padding: 1rem;}
    </style>
