<form class="autocomplete autocomplete__form" method="GET" action="{{ searchAction }}" role="search">
    <input class="autocomplete__input form-control" type="text" placeholder="Zoeken" id="suggest-search-query" name="q"
        autocomplete="off" aria-controls="autocomplete-results" aria-autocomplete="both" aria-label="Zoekveld"
        aria-describedby="autocomplete-help-text" />
    <button class="autocomplete__search-button" aria-label="Zoekknop">
        <span class="mdi mdi-magnify" aria-hidden="true"></span>
    </button>
    <button class="autocomplete__clear-button autocomplete__button--hide" aria-label="Invoer wissen"
        title="Invoer wissen">
        <span class="mdi mdi-close" aria-hidden="true"></span>
    </button>
    <ul id="autocomplete-results" class="autocomplete__result-list" aria-label="Zoekresultaten">

    </ul>
    <span id="autocomplete-help-text" class="sr-only">
        Als er zoekresultaten gevonden zijn kunt u de pijltjes toetsen omhoog en naar beneden gebruiken om een resultaat
        te selecteren. Toets enter om te navigeren naar het geselecteerde resultaat. Met de escape toets kunt u de
        invoer wissen.</span>
    <div id="autocomplete-search-results-announcer" aria-live="assertive" aria-atomic="true" class="sr-only"></div>
</form>

<script id="autocomplete-result-template" type="text/template">
    <li class="autocomplete__result-item" role="option">
        <a href="" class="autocomplete__result-link" id="" tabindex="-1"></a>
    </li>
</script>
<script id="autocomplete-section-header-template" type="text/template">
    <li class="autocomplete__section-header" aria-hidden="true">

    </li>
</script>
