<!-- display above the button -->
<button type="button" class="btn btn-primary" data-tippy data-tippy-placement="top" title="Tooltip bovenkant" aria-label="Bovenkant, Tooltip bovenkant">
    Bovenkant
</button>

<!-- display on the right the button -->
<button type="button" class="btn btn-primary" data-tippy data-tippy-placement="right" title="Tooltip rechterkant" aria-label="Rechterkant, Tooltip rechterkant">
    Rechterkant
</button>

<!-- display underneath the button -->
<button type="button" class="btn btn-primary" data-tippy data-tippy-placement="bottom" title="Tooltip onderkant" aria-label="Onderkant, Tooltip onderkant">
    Onderkant
</button>

<!-- display on the left the button -->
<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Tooltip linkerkant" aria-label="Linkerkant, Tooltip linkerkant">
    Linkerkant
</button>
