<a href="/account" title="Bekijk mijn account">
    <span class="sr-only">Bekijk mijn account</span>
    <span class="mdi mdi-account" aria-hidden="true"></span>
</a>

<br /><br />

<a href="/een-link">
    <span class="mdi mdi-earth" aria-hidden="true"></span> Het icoon hiernaast is alleen decoratief
</a>

<br /><br />

<button class="btn btn-primary mdi mdi-magnify-plus" title="Klik hier om in te zoomen"
    style="width: auto; font-size: 20px;">
    <span class="sr-only">Klik hier om in te zoomen</span>
</button>
