{{> '@tpl-head' }}
    <style>
    .view { margin-bottom: 2rem; width: 300px; }
    </style>
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

</body>
</html>
