<p>Light overlay</p>
<div class="view overlay">
    <img
        src="{{ mdbootstrapPath '/img/Photos/Horizontal/People/6-col/img%20(7).jpg' }}"
        class="img-fluid"
        alt="Voorbeeld afbeelding">
    <div class="mask flex-center rgba-grey-light">
        <p class="white-text">Lichte bedekking</p>
    </div>
</div>

<p>Strong overlay</p>
<div class="view overlay">
    <img
        src="{{ mdbootstrapPath '/img/Photos/Horizontal/People/6-col/img%20(7).jpg' }}"
        class="img-fluid"
        alt="Voorbeeld afbeelding">
    <div class="mask flex-center rgba-grey-strong">
        <p class="white-text">Sterke bedekking</p>
    </div>
</div>

<p>Super light overlay</p>
<div class="view overlay">
    <img
        src="{{ mdbootstrapPath '/img/Photos/Horizontal/People/6-col/img%20(7).jpg' }}"
        class="img-fluid"
        alt="Voorbeeld afbeelding">
    <div class="mask flex-center rgba-grey-slight">
        <p class="white-text">Super lichte bedekking</p>
    </div>
</div>
