<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="view overlay hm-grey-light">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                     alt="">
                <div class="mask flex-center">
                    <p class="white-text">Light overlay</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="view overlay hm-grey-strong">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                     alt="">
                <div class="mask flex-center">
                    <p class="white-text">Strong overlay</p>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="view overlay hm-grey-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                     alt="">
                <div class="mask flex-center">
                    <p class="white-text">Super light overlay</p>
                </div>
            </div>
        </div>
    </div>
</div>
