{{> '@navbar-primary--default' }}

<main>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-12">
                    {{ render '@button--info' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ render '@button--primary' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ render '@button--secondary' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@date-picker' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@input-error' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@input-normal' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@input-read-only' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@multiple-upload' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@textarea' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@select' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@switch' }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> '@time-picker' }}
                </div>
            </div>
        </form>
    </div>
</main>

{{> '@footer' }}
