<p class="lead">
  Leading paragraph: Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>

<p>
  FONT: Source Sans Pro. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis lacinia quam ut rutrum. Nunc bibendum ornare libero sed pulvinar.
</p>
<p>
  Aliquam sit amet elit mauris. Nam quis diam posuere nisl rutrum egestas in sed ex. Morbi blandit, sapien vitae lacinia rutrum, libero est scelerisque enim, id auctor tellus ligula ac lacus. Sed viverra magna quam. Nullam consequat tincidunt euismod.
</p>
