<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Schakel navigatie">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="{{ assetPath '/img/beeldmerk.svg' }}" class="logo" alt="Logo Nijmegen">
        </a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto{{ smoothScroll }}">
                <li class="nav-item">
                    <a href="#section-1" class="nav-link">Menu 1</a>
                </li>
                <li class="nav-item">
                    <a href="#section-2" class="nav-link">Menu 2</a>
                </li>
                <li class="nav-item">
                    <a href="#section-3" class="nav-link">Menu 3</a>
                </li>
                <li class="nav-item">
                    <a href="#section-4" class="nav-link">Menu 4</a>
                </li>
            </ul>
            {{#if searchComponent}}
            <form action="{{ searchAction }}" class="form-inline ml-auto">
                <label for="oi-query" class="sr-only">Zoeken</label>
                <input class="form-control" id="oi-query" type="text" placeholder="Zoeken" tabindex="1" autocomplete="off">
                <button type="button" class="btn-search" tabindex="2" aria-label="Zoek knop"><i class="mdi mdi-magnify" aria-hidden="true"></i></button>
            </form>
            {{/if}}
        </div>
    </div>
</nav>
