<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Schakel navigatie">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="{{ assetPath '/img/beeldmerk.svg' }}" class="logo" alt="Logo Nijmegen">
        </a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto{{ smoothScroll }}">
                <li class="nav-item">
                    <a href="#section-1" class="nav-link">Menu 1</a>
                </li>
                <li class="nav-item">
                    <a href="#section-2" class="nav-link">Menu 2</a>
                </li>
                <li class="nav-item">
                    <a href="#section-3" class="nav-link">Menu 3</a>
                </li>
                <li class="nav-item">
                    <a href="#section-4" class="nav-link">Menu 4</a>
                </li>
            </ul>
        </div>
        {{#if searchComponent}}
        <div class="navbar__search">
            <button class="navbar__search-button" id="navbar-open-search" aria-label="Open zoekveld">
                <i class="mdi mdi-magnify" aria-hidden="true"></i>
            </button>
            {{> '@autocomplete' }}
            <button class="navbar__search-close-button" id="navbar-close-search" aria-label="Sluit zoekveld">
                sluiten
            </button>
        </div>
        {{/if}}
    </div>
</nav>
