{{> '@navbar-primary--default' }}

<main>
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-lg-4">
                {{> '@cards-filename' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-filename' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-filename' }}
            </div>
        </div>

        <div class="row" id="section-2">
            <div class="col-lg-4">
                {{> '@cards-news' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-news' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-news' }}
            </div>
        </div>

        <div class="row" id="section-3">
            <div class="col-lg-4">
                {{> '@cards-services' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-services' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-services' }}
            </div>
        </div>

        <div class="row" id="section-4">
            <div class="col-lg-4">
                {{> '@cards-services-no-icon' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-services-no-icon' }}
            </div>
            <div class="col-lg-4">
                {{> '@cards-services-no-icon' }}
            </div>
        </div>

        <div class="row d-md-none">
            <div class="col-12">
                {{> '@button-horizontal-collapse' }}
            </div>
        </div>
    </div>
</main>

{{> '@footer' }}