{{> '@tpl-head' }}
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

<script>
    $('.carousel').carousel({
        interval: 2000
    })

    $('.carousel-play-pause').on('click', '> i', function(e) {
        console.log(e);
        if ($(this).hasClass("play")) {
            $('.carousel').carousel("cycle");
            $(this).hide();
            $(".pause").show();
        } else {
            $('.carousel').carousel("pause");
            $(this).hide();
            $(".play").show();
        }
    });
</script>

</body>
</html>
