<!--Carousel Wrapper-->
<div id="carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
        <li class="carousel-play-pause">
            <button type="button" class="carousel-control-pause">
                <span class="mdi mdi-pause" aria-hidden="true"></span>
                <span class="sr-only">Pauzeer slideshow</span>
            </button>
            <button type="button" class="carousel-control-play" aria-hidden="true" style="display: none;">
                <span class="mdi mdi-play play" aria-hidden="true"></span>
                <span class="sr-only">Speel slideshow af</span>
            </button>
        </li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <ul class="carousel-inner">
        <!--First slide-->
        <li class="carousel-item active">
            <img src="{{ mdbootstrapPath '/img/Photos/Slides/img%20(18).jpg' }}" alt="Eerste slide">
        </li>
        <!--/First slide-->
        <!--Second slide-->
        <li class="carousel-item">
            <img src="{{ mdbootstrapPath '/img/Photos/Slides/img%20(19).jpg' }}" alt="Tweede slide">
        </li>
        <!--/Second slide-->
        <!--Third slide-->
        <li class="carousel-item">
            <img src="{{ mdbootstrapPath '/img/Photos/Slides/img%20(20).jpg' }}" alt="Derde slide">
        </li>
        <!--/Third slide-->
    </ul>
    <!--/.Slides-->
    <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Vorige slide</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Volgende slide</span>
    </a>
</div>
