{{> '@tpl-head' }}
    <style type="text/css">
    body {padding: 150px 0 0;}
    </style>
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}

<div class="container">
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
</div>

{{> '@tpl-scripts' }}

</body>
</html>
