{{> '@tpl-head' }}
    <style type="text/css">
    body {padding: 150px 0 0;}
    </style>
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

</body>
</html>
