<!--Navbar-->
<nav class="navbar fixed-top navbar-toggleable-md scrolling-navbar navbar-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="./">
            <div class="navbar-brand-container">
                <img src="{{ path '/img/beeldmerklabelwit.svg' }}" class="logo-labeled" alt="">
                <img src="{{ path '/img/beeldmerkwit.svg' }}" class="logo" alt="">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Diensten <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Nieuws</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Bestuur</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
            <form class="form-inline">
                <label for="frm-navbar-search" class="sr-only">Zoeken</label>
                <input class="form-control" id="frm-navbar-search" type="text" placeholder="Zoeken">
                <i class="mdi mdi-magnify" aria-hidden="true"></i>
            </form>
        </div>
    </div>
</nav>
<!--/.Navbar-->

<div class="container">
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
    <h1>Scroll down</h1>
    <br>
</div>
