<label class="check-switch" for="switch_1">
    Switch 1:
    <span class="switch-true">Ja</span>
    <input id="switch_1" data-check-switch="" role="switch" type="checkbox" aria-checked="false">
    <span class="switch-toggle" aria-hidden="true"></span>
    <span class="switch-false">Nee</span>
</label>

<label class="check-switch" for="switch_2">
    Switch 2:
    <span class="switch-true">Ja</span>
    <input id="switch_2" data-check-switch="" role="switch" type="checkbox" aria-checked="false">
    <span class="switch-toggle" aria-hidden="true"></span>
    <span class="switch-false">Nee</span>
</label>
