<div class="switch">
    <label>
        Nee
        <input type="checkbox">
        <span class="lever"></span> Ja
    </label>
</div>

<label class="check-switch" for="switch_1">
    Switch 1:
    <span class="switch-true" aria-hidden="true">Ja</span>
    <input id="switch_1" data-check-switch="" role="switch" type="checkbox">
    <span class="switch-toggle" aria-hidden="true"></span>
    <span class="switch-false" aria-hidden="true">Nee</span>
</label>

<label class="check-switch" for="switch_2">
    Switch 2:
    <span class="switch-true" aria-hidden="true">Ja</span>
    <input id="switch_2" data-check-switch="" role="switch" type="checkbox">
    <span class="switch-toggle" aria-hidden="true"></span>
    <span class="switch-false" aria-hidden="true">Nee</span>
</label>
