<label class="check-switch" for="switch_1">
    Ga je akkoord met de voorwaarden?
    <span class="switch-true" aria-hidden="true">Ja</span>
    <input id="switch_1" type="checkbox" role="switch">
    <span class="switch-toggle" aria-hidden="true"></span>
    <span class="switch-false" aria-hidden="true">Nee</span>
</label>

<label class="check-switch" for="switch_2">
    Wil je de nieuwsbrief ontvangen?
    <span class="switch-true" aria-hidden="true">Ja</span>
    <input id="switch_2" type="checkbox" role="switch" checked>
    <span class="switch-toggle" aria-hidden="true"></span>
    <span class="switch-false" aria-hidden="true">Nee</span>
</label>
