{{> '@tpl-head' }}
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

<script>
    $("#mdb-lightbox-ui").load("{{ assetPath '/mdb-addons/mdb-lightbox-ui.html' }}");
</script>

</body>
</html>
