<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-primary">
    <div class="container">
        {{#if hamburgerIcon}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Schakel navigatie">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{/if}}
        <a class="navbar-brand" href="/">
            <div class="navbar-brand-container">
                <img src="{{ assetPath '/img/beeldmerklabelwit.svg' }}" class="logo-labeled" alt="Logo Nijmegen">
                <img src="{{ assetPath '/img/beeldmerkwit.svg' }}" class="logo" alt="Logo Nijmegen">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            {{#if menuComponent}}
            <ul class="navbar-nav mr-auto{{ smoothScroll }}">
                <li class="nav-item">
                    <a href="#section-1" class="nav-link">Menu 1</a>
                </li>
                <li class="nav-item">
                    <a href="#section-2" class="nav-link">Menu 2</a>
                </li>
                <li class="nav-item">
                    <a href="#section-3" class="nav-link">Menu 3</a>
                </li>
                <li class="nav-item">
                    <a href="#section-4" class="nav-link">Menu 4</a>
                </li>
            </ul>
            {{/if}}
            {{#if searchComponent}}
            <form class="autocomplete__form" action="{{ searchAction }}" role="search">
                <input class="form-control" type="text" placeholder="Zoeken" id="suggest-search-query" name="q" autocomplete="off" aria-controls="autocomplete-results" aria-autocomplete="both" aria-activedescendant=""></input>
                <button class="btn-search" tabindex="2" aria-label="Zoek knop"><i class="mdi mdi-magnify" aria-hidden="true"></i></button>
                <ul id="autocomplete-results" class="autocomplete__result-list" aria-label="Zoekresultaten" role="listbox"></ul>
            </form>

            <script id="autocomplete-result-template" type="text/template">
                <li class="autocomplete__result-item">
                    <a href="" class="autocomplete__result-link" role="option" id="" tabindex="-1"></a>
                </li>
            </script>
            {{/if}}
        </div>
    </div>
</nav>
