<div class="utrecht-document nijmegen-theme">
  <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
    <li class="utrecht-link-list__item">
      <a
        href="#"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
        <span class="utrecht-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right">
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>
        <span class="utrecht-link-list__link-text">Link 1</span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="#"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
        <span class="utrecht-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right">
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>
        <span class="utrecht-link-list__link-text">Link 2</span>
      </a>
    </li>
    <li class="utrecht-link-list__item">
      <a
        href="#"
        class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
        <span class="utrecht-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="tabler-icon tabler-icon-chevron-right">
            <path d="M9 6l6 6l-6 6"></path>
          </svg>
        </span>
        <span class="utrecht-link-list__link-text">Link 3</span>
      </a>
    </li>
  </ul>
</div>
