<section class="search-results">
    <h1 class="search-results__title">
        Zoekresultaten voor "<span class="search-results__term" id="search-term"></span>"
    </h1>
    <p
        id="search-noresults"
        class="search-results__noresults">
        Geen resultaten gevonden
        <span id="search-didyoumean" class="search-results__didyoumean">
            , resultaten voor "<span id="search-term-didyoumean"></span>" worden getoond.
        </span>
    </p>
    <ul id="search-results" class="search-results__list"></ul>
</section>

<script id="search-results-item-template" type="text/template">
    <li class="search-results__item">
        <a href="" class="search-results__item-link">
            <h2 class="search-results__item-title"></h2>
        </a>
        <div class="search-results__item-body">

        </div>
    </li>
</script>
