<div class="pills {{modifier}}" role="menu">
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem">Link 1</a>
    </div>
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem" aria-current="true">Link 2</a>
    </div>
    <div class="pills__item">
        <button class="pills__button" role="menuitem">Button 2</button>
    </div>
    <div class="pills__item">
        <button class="pills__button" role="menuitem">Button 1</button>
    </div>
</div>
