{{> '@tpl-head' }}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-4">
            {{!-- Underneath will render component output --}}
            {{{ yield }}}
        </div>
    </div>
</div>

{{> '@tpl-scripts' }}

</body>
</html>
