{{> '@tpl-head' }}
</head>

<body>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    {{!-- Underneath will render component output --}}
                    {{{ yield }}}
                </div>
            </div>
        </div>
    </main>

    {{> '@tpl-scripts' }}

    {{> '@tpl-script-card-compatibility' }}

</body>

</html>
