<a href="" class="card-container">
    <div class="card card-news">
        <figure>
            <img class="content" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
            <span class="badge badge-default">25 / 05 / 2017</span>
        </figure>

        <div class="card-block">
            <p class="card-title">Nieuws item</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-right mb-0 text-uppercase">Lees meer</p>
        </div>
    </div>
</a>
