<ul class="stepper stepper-horizontal">
    <li class="completed">
        <a href="#!" aria-label="completed step">
            <span class="circle">1</span>
            <span class="label">First step</span>
        </a>
    </li>
    <li class="active" aria-label="active step">
        <a href="#!">
            <span class="circle">2</span>
            <span class="label">Second step</span>
        </a>
    </li>
    <li>
        <a href="#!">
            <span class="circle">3</span>
            <span class="label">Third step</span>
        </a>
    </li>
    <li>
        <a href="#!">
            <span class="circle"><span class="mdi mdi-home" aria-hidden="true"></span></span>
            <span class="label">Sit amet dolor</span>
        </a>
    </li>
</ul>
