<ul class="stepper stepper-horizontal">
    <li class="completed">
        <a href="#!">
            <span class="circle">1</span>
            <span class="label">First step</span>
        </a>
    </li>
    <li class="active">
        <a href="#!">
            <span class="circle">2</span>
            <span class="label">Second step</span>
        </a>
    </li>
    <li>
        <a href="#!">
            <span class="circle">3</span>
            <span class="label">Second step</span>
        </a>
    </li>
</ul>
