$icon-spacing: 70px;
$icon-size: 24px;

#toast-container {
    > .toast {
        box-shadow: none !important;
        opacity: 1;
        padding-left: $icon-spacing !important;
        position: relative;
        background-image: none !important;
        margin: 15px 0;
        color: $body-color !important;

        .toast-message {
            line-height: 30px;
        }

        .toast-close-button {
            display: block;
        }

        &:before {
            position: absolute;
            left: 0;
            top: calc(50% - #{$icon-size / 2});
            width: $icon-spacing;
            font-size: $icon-size;
            text-align: center;
            color: color('black', 'base');
        }
    }

    .toast-close-button {
        color: $body-color !important;
        opacity: 1;

        &:hover {
            text-shadow: 0 0 5px rgba(color('black', 'base'), 0.5);
        }

        &:focus {
            @include tab-focus;
        }
    }

    .toast-success {
        background-color: color('nijmegen-backgrounds', 'success') !important;

        &:before {
            @include mdi('check');
        }
    }

    .toast-info {
        background-color: color('nijmegen-backgrounds', 'info') !important;

        &:before {
            @include mdi('information');
        }
    }

    .toast-warning {
        background-color: color('nijmegen-backgrounds', 'warning') !important;

        &:before {
            @include mdi('alert');
        }
    }

    .toast-error {
        background-color: color('nijmegen-backgrounds', 'danger') !important;
        color: color('white', 'base') !important;

        .toast-close-button {
            color: color('white', 'base') !important;

            &:hover {
                text-shadow: 0 0 5px rgba(color('white', 'base'), 0.5);
            }
        }

        &:before {
            @include mdi('information');
            color: color('white', 'base') !important;
        }
    }
}
