.autocomplete {
    &__result-list {
        list-style: none;
        margin: 0;
        padding: 0;
        background: color('white', 'base');
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25), 0 0 15px rgba(0, 0, 0, 0.15);    
    }

    &__result-item {
        font-size: to-rem(18);
        word-break: break-all;

        &:not(:last-of-type) {
            border-bottom: 1px solid color('nijmegen-grey', 'base');
        }
    }

    &__input {
        padding-right: to-rem(30);
        &::-ms-clear {
            display: none;
        }
    }

    &__result-link {
        transition: none;
        color: $body-color;
        padding: .5rem 1rem;
        display: block;
        position: relative;

        em {
            font-style: normal;
            font-weight: bold; 
        }

        &:focus,
        &.active {
            cursor: pointer;
            transition: none;
            background-color: color('nijmegen-grey', 'darken-2');
            color: color('white', 'base');
        }

        &::before{
            @include mdi('arrow-right');
            font-size: to-rem(16);
            padding-right: .5rem
        }

        &.search::before {
            @include mdi('magnify');
            font-size: to-rem(16);
        }
    }

    &__section-header {
        padding: .5rem .5rem 0;
        display: block;
        position: relative;
        font-size: to-rem(22);
    }

    &__search-button, &__clear-button {
        background-color: transparent;
        border: 0;
        position: relative;
        top: -30px;
        float: right;
        display: block;
        width: 25px;
        height: 25px;
        box-sizing: content-box;
    }

    &__button--hide {
        display: none;
    }

    &__search-button {
        &:hover {
            cursor: default;
        }
    }
}
