.horizontal-collapse {
    position: relative;
    text-align: right;
    overflow: hidden;
    padding-bottom: 10px;

    .btn-floating {
        span {
            display: inline-block;
            width: inherit;
            text-align: center;
            color: color('white', 'base');
        }

        &.btn-large span {
            font-size: 1.75rem;
            line-height: 2;
        }
    }

    .btn-floating-collapse {
        @extend .z-depth-2;
        margin-right: 25px;
    }

    .expand-horizontal {
        @extend .z-depth-1;
        position: absolute;
        top: 14px;
        background-color: color('nijmegen-primary', 'base');
        color: color('white', 'base');
        margin: 0;
        transform: translateX(150%);
        right: 0;
        padding-left: 10px;

        li {
            display: inline-block;
            line-height: 44px;
            margin: 0 6px;

            @media #{$medium-and-up} {
                margin: 0 10px;
            }

            .mdi {
                color: color('white', 'base');
                line-height: inherit;
            }

            button {
                background: none;
                border: 0;
                padding: 0;
                margin: 0;
            }

            a {
                display: block;
            }

            a:focus,
            button:focus {
                @include tab-focus;
                background: color('nijmegen-primary', 'lighten-1');
            }

            &.btn-floating-wrapper {
                width: 70px;
            }
        }
    }

    &.active {
        .btn-floating-collapse {
            background-color: color('nijmegen-primary', 'darken-3');
        }

        .expand-horizontal {
            transform: translateX(0%);
        }
    }
}
