.carousel {
    .carousel-control-pause,
    .carousel-control-play {
        background-color: transparent;
        border: 0;
        color: white;
        padding: 5px;
        margin: -5px;   
        border-radius: 100%;
        text-align: center;
        
        span {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover {
            background-color: rgba(color('nijmegen-primary', 'lighten-1'), 0.5);
        }

        &:focus {
            background: rgba(color('nijmegen-primary', 'lighten-1'), 0.5);
            box-shadow: 0 0 2px white;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: calc(50% - 28px);
        width: 56px;
        height: 56px;
        border-radius: 100%;
        opacity: 1;
        
        &.carousel-control-prev {
            left: 84px;
        }

        &.carousel-control-next {
            right: 84px;
        }

        &:hover {
            @extend .z-depth-1;
            background-color: rgba(color('nijmegen-primary', 'lighten-1'), 0.5);
        }

        &:focus {
            outline: none !important;
            background: rgba(color('nijmegen-primary', 'lighten-1'), 0.5);
            box-shadow: 0 0 2px white;
        }
    }

    .carousel-indicators li {
        border: 2px solid color('white', 'base');
        background-color: transparent;

        &.carousel-play-pause {
            color: color('white', 'base');
            text-indent: initial;
            height: 10px;
            min-width: initial;
            min-height: 24px;
            margin-left: 30px;
            margin-top: -7px;
            border: none;
            display: block;
            text-indent: 0;
        }

        &.active {
            background-color: color('white', 'base');
        }
    }
    
    .carousel-item img {
        width: 100%;
        align-self: center;
    }
}
