.badge {
    border-radius: 0;
    box-shadow: none;
    font-size: to-rem(13);
    font-weight: $font-weight-semibold;
    min-width: 5rem;
    padding: .4rem;
}

.badge-default {
    background-color: color('nijmegen-backgrounds', 'default') !important;
}

.badge-primary {
    background-color: color('nijmegen-backgrounds', 'primary') !important;
}

.badge-success {
    background-color: color('nijmegen-backgrounds', 'success') !important;
    color: $body-color !important;
}

.badge-info {
    background-color: color('nijmegen-backgrounds', 'info') !important;
    color: $body-color !important;
}

.badge-warning {
    background-color: color('nijmegen-backgrounds', 'warning') !important;
    color: $body-color !important;
}

.badge-danger {
    background-color: color('nijmegen-backgrounds', 'danger') !important;
}
