.list-group {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    .list-group-title {
        @extend .list-group-item;
        font-size: to-rem(24);
        padding: 0.75rem 1.25rem;
        font-family: 'Oranda', sans-serif;
        color: color('nijmegen-grey', 'darken-2');
        line-height: 1.5;
    }

    .list-group-title,
    .list-group-item {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid color('nijmegen-grey', 'base');
        border-radius: 0;
        margin-bottom: 0;
        background-color: transparent;
    }

    a.list-group-item {
        &.active {
            background-color: color('nijmegen-grey', 'lighten-1');
            color: color('nijmegen-primary', 'darken-2');
        }

        &:hover,
        &:focus {
            background-color: color('nijmegen-grey', 'lighten-1');
            color: color('nijmegen-primary', 'darken-2');
        }

        &:active,
        &:focus {
            @include tab-focus;
        }
    }

    li:last-child {
        border-bottom: 0;
    }
}
