.meta-blocks {
    &--title {
        font-size: 30px;
    }

    &--container {
        margin: 2rem 0;
        border-left: 0;
        border-right: 0;
        border-style: solid;
        border-color: #E6E6E6;
    }

    &--content {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0;
        font-size: 18px;

        a {
            font-size: 16px;
            text-decoration: underline;
        }
    }

    &--content-heading {
        font-weight: bold;
        margin-bottom: .5rem;
    }

    &--col {
        margin-bottom: 1.5rem;

        @media #{$large-and-up} {
            margin-bottom: 2rem;
        }

        :not(:first-child) {
            margin: 0;
        }
    }
}
