.modal-footer,
.modal-header {
    border: none;
}

.modal-header {
    .close {
        opacity: 1;
        color: color('nijmegen-primary', 'base');
        margin-top: -0.5rem;
    }
}

.modal-title {
    font-family: 'Oranda', sans-serif;
    font-weight: $font-weight-normal;
    @include web-font-rendering-support;
    font-size: to-rem(26);
    color: $body-color;

    @media only screen and (min-width: #{$medium-screen-portrait}) {
        font-size: to-rem(28);
    }
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}
