.search-results {
    &__title {
        font-size: to-rem(20);
        font-weight: bold;
        color: $body-color;
    }

    &__item {
        padding-bottom: to-rem(20);
        margin-bottom: to-rem(20);
        border-bottom: 1px solid color('nijmegen-grey', 'base');
    }

    &__item-title {
        font-size: to-rem(28);
        color: color('nijmegen-brand', 'base');

        em {
            font-style: normal;
        }
    }

    &__item-body em {
        background: color('nijmegen-grey', 'lighten-1');
        color: color('nijmegen-primary', 'darken-1');
        font-style: normal;
        padding: 0 to-rem(2);
    }
}
