<ul>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>

<ul class="list-inline">
    <li class="list-inline-item">List inline item 1</li>
    <li class="list-inline-item">List inline item 2</li>
    <li class="list-inline-item">List inline item 3</li>
</ul>

<ol>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ol>

<ol class="list-inline">
    <li class="list-inline-item">List inline item 1</li>
    <li class="list-inline-item">List inline item 2</li>
    <li class="list-inline-item">List inline item 3</li>
</ol>
