<div class="card card-filename">
    <div class="card-body">
        <p class="card-title">Dossiernaam</p>
        <figure>
            <img class="content" src="{{ mdbootstrapPath '/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg' }}" alt="Card image cap">
        </figure>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="text-right mb-0 text-uppercase"><a href="" aria-label="Lees meer over dossiernaam">Lees meer</a></p>
    </div>
</div>
