{{> '@tpl-head' }}
<style>
    body {
        padding: 150px 0 0;
    }
</style>
</head>

<body>

    <main>
        {{!-- Underneath will render component output --}}
        {{{ yield }}}
    </main>

    {{> '@tpl-scripts' }}

    <script>
        $('[data-toggle="popover"]')
            .popover({
                trigger: 'click',
                template: $('.popover-template').html()
            })
            .keyup(function (event) {
                if (event.key == 'Escape') {
                    $(this).popover('hide');
                }
            })
            .on('inserted.bs.popover', function () {
                var $popup = $(this);
                $('.popover:last-child .popover-close').click(function (e) {
                    $popup.popover('hide');
                });
            })
    </script>

</body>

</html>
