{{> '@tpl-head' }}
    <style>
    body {
        padding: 150px 0 0;
    }
    </style>
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        })
    })
</script>

</body>
</html>
