<!-- display above the button -->
<button type="button" class="btn btn-primary" data-toggle="popover" title="Popover titel" data-placement="top" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Popover bovenkant</button>

<!-- display on the right the button -->
<button type="button" class="btn btn-primary" data-toggle="popover" title="Popover titel" data-placement="right" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Popover rechterkant</button>

<!-- display underneath the button -->
<button type="button" class="btn btn-primary" data-toggle="popover" title="Popover titel" data-placement="bottom" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Popover onderkant</button>

<!-- display on the left the button -->
<button type="button" class="btn btn-primary" data-toggle="popover" title="Popover titel" data-placement="left" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Popover linkerkant</button>
