<!-- display above the button -->
<button type="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?">Popover on top</button>

<!-- display on the right the button -->
<button type="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="right" data-content="And here's some amazing content. It's very engaging. Right?">Popover on right</button>

<!-- display underneath the button -->
<button type="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="bottom" data-content="And here's some amazing content. It's very engaging. Right?">Popover on bottom</button>

<!-- display on the left the button -->
<button type="button" class="btn btn-danger" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="left" data-content="And here's some amazing content. It's very engaging. Right?">Popover on left</button>
