<a tabindex="0" class="btn btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?">Popover on top</a>

<a tabindex="0" class="btn btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="right" data-content="And here's some amazing content. It's very engaging. Right?">Popover on right</a>

<a tabindex="0" class="btn btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="bottom" data-content="And here's some amazing content. It's very engaging. Right?">Popover on bottom</a>

<a tabindex="0" class="btn btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Popover title" data-placement="left" data-content="And here's some amazing content. It's very engaging. Right?">Popover on left</a>
