<form class="file-form" action="#">
    <div class="multiple-upload">
        <div class="example-output"></div>
        <input
            id="file-upload-1"
            name="file-upload-1"
            type="file"
            multiple
        >
        <button id="file-button-1" type="button" class="btn btn-secondary btn-prev-step">
            Bijlagen toevoegen
        </button>
    </div>
</form>
