<footer class="page-footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="hidden-md-down col-lg-6">
                    <h5 class="title">Diensten</h5>
                    <div class="link-list-wrapper">
                        <ul class="link-list">
                            <li><a href="#!">Paspoort, ID en rijbewijs</a></li>
                            <li><a href="#!">Afval</a></li>
                            <li><a href="#!">Verhuizen</a></li>
                            <li><a href="#!">Uitreksels en verklaringen</a></li>
                            <li><a href="#!">Melden aan de gemeente</a></li>
                            <li><a href="#!">Zorg en ondersteuning</a></li>
                            <li><a href="#!">Trouwen, geboorte en overlijden</a></li>
                            <li><a href="#!">Parkeren, verkeer en vervoer</a></li>
                            <li><a href="#!">Bouwen en wonen</a></li>
                        </ul>
                        <ul class="link-list">
                            <li><a href="#!">Vergunningen en toestemmingen</a></li>
                            <li><a href="#!">Uitkeringen, werk en bijstand</a></li>
                            <li><a href="#!">Jeugd en onderwijs</a></li>
                            <li><a href="#!">Klachten, bezwaar en beroep</a></li>
                            <li><a href="#!">Ondernemen</a></li>
                            <li><a href="#!">Subsidies</a></li>
                            <li><a href="#!">Belastingen gemeente</a></li>
                            <li><a href="#!">Duplicaat van huizen van de wijk</a></li>
                            <li><a href="#!">Overzicht diensten</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="hidden-md-down col-lg-5">
                            <h5 class="title">Over deze site</h5>
                            <ul class="link-list">
                                <li><a href="#!">Lorem ipsum</a></li>
                                <li><a href="#!">Sit amet dolores</a></li>
                                <li><a href="#!">Muris dutaim aligat</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-7">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <h5 class="title">Openingstijden</h5>
                                        </th>
                                        <th>
                                            <span class="badge badge-info">Nu open</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Maandag</td>
                                        <td>09:00 tot 19:30</td>
                                    </tr>
                                    <tr>
                                        <td>Dinsdag t/m donderdag</td>
                                        <td>09:00 tot 17:00</td>
                                    </tr>
                                    <tr>
                                        <td>Vrijdag</td>
                                        <td>09:00 tot 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="hidden-md-down col-lg-5"></div>

                        <div class="col-xs-12 col-md-6 col-lg-7">
                            <h5 class="title">Contactgegevens</h5>
                            <ul class="link-list contact-list">
                                <li><i class="mdi mdi-map-marker" aria-hidden="true"></i> Stadswinkel, Mariënburg 30</li>
                                <li><i class="mdi mdi-phone" aria-hidden="true"></i> <a href="tel:14024">14 024</a></li>
                                <li><i class="mdi mdi-email" aria-hidden="true"></i> <a href="mailto:gemeente@nijmegen.nl">gemeente@nijmegen.nl</a>
                                </li>
                                <li><i class="mdi mdi-facebook-box" aria-hidden="true"></i> <a href="https://www.facebook.com/gemeentenijmegen">Gemeente Nijmegen</a></li>
                                <li><i class="mdi mdi-twitter-box" aria-hidden="true"></i> <a href="https://twitter.com/gem_nijmegen">@nijmegen</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            <img src="{{ path '/img/beeldmerkwit.svg' }}" height="32" width="25" class="logo-labeled" alt="">
            Gemeente Nijmegen
        </div>
    </div>
</footer>
