<footer class="page-footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="hidden-md-down col-lg-6">
                    <!-- Space for other content/links -->
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="hidden-md-down col-lg-5">
                            <p class="title">Over deze site</p>
                            <ul class="link-list">
                                <li><a href="https://www.nijmegen.nl/toegankelijkheid/">Toegankelijkheid</a></li>
                                <li><a href="https://www.nijmegen.nl/privacyverklaring/">Privacyverklaring</a></li>
                                <li><a href="https://www.nijmegen.nl/cookies/">Cookies</a></li>
                                <li><a href="https://www.nijmegen.nl/proclaimer/">Proclaimer</a></li>
                                <li><a href="https://www.nijmegen.nl/sitemap/">Sitemap</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-7">
                            <p class="title">Contactgegevens</p>
                            <ul class="link-list contact-list">
                                <li><i class="mdi mdi-map-marker" aria-hidden="true"></i> Stadswinkel, Mariënburg 30</li>
                                <li><i class="mdi mdi-phone" aria-hidden="true"></i> <a href="tel:14024">14 024</a></li>
                                <li><i class="mdi mdi-email" aria-hidden="true"></i> <a href="mailto:gemeente@nijmegen.nl">gemeente@nijmegen.nl</a>
                                </li>
                                <li><i class="mdi mdi-facebook-box" aria-hidden="true"></i> <a href="https://www.facebook.com/gemeentenijmegen">Gemeente Nijmegen</a></li>
                                <li><i class="mdi mdi-twitter-box" aria-hidden="true"></i> <a href="https://twitter.com/gem_nijmegen">@nijmegen</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            <img src="{{ assetPath '/img/beeldmerkwit.svg' }}" height="32" width="25" class="logo-labeled" alt="">
            Gemeente Nijmegen
        </div>
    </div>
</footer>
