<footer class="page-footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hidden-md-down">
                    <h5 class="title">Diensten</h5>
                    <div class="link-list-wrapper">
                        <ul class="link-list">
                            <li><a href="#!">Paspoort, ID en rijbewijs</a></li>
                            <li><a href="#!">Afval</a></li>
                            <li><a href="#!">Verhuizen</a></li>
                            <li><a href="#!">Uitreksels en verklaringen</a></li>
                            <li><a href="#!">Melden aan de gemeente</a></li>
                            <li><a href="#!">Zorg en ondersteuning</a></li>
                            <li><a href="#!">Trouwen, geboorte en overlijden</a></li>
                            <li><a href="#!">Parkeren, verkeer en vervoer</a></li>
                            <li><a href="#!">Bouwen en wonen</a></li>
                        </ul>
                        <ul class="link-list">
                            <li><a href="#!">Vergunningen en toestemmingen</a></li>
                            <li><a href="#!">Uitkeringen, werk en bijstand</a></li>
                            <li><a href="#!">Jeugd en onderwijs</a></li>
                            <li><a href="#!">Klachten, bezwaar en beroep</a></li>
                            <li><a href="#!">Ondernemen</a></li>
                            <li><a href="#!">Subsidies</a></li>
                            <li><a href="#!">Belastingen gemeente</a></li>
                            <li><a href="#!">Duplicaat van huizen van de wijk</a></li>
                            <li><a href="#!">Overzicht diensten</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-lg-6 hidden-md-down">
                            <h5 class="title">Over deze site</h5>
                            <ul class="link-list">
                                <li><a href="#!">Lorem ipsum</a></li>
                                <li><a href="#!">Sit amet dolores</a></li>
                                <li><a href="#!">Muris dutaim aligat</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <table>
                                <thead>
                                <tr>
                                    <td>
                                        <h5 class="title">Openingstijden</h5>
                                    </td>
                                    <td>
                                        <span class="badge badge-info">Nu open</span>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Maandag</td>
                                    <td>09:00 tot 19:30</td>
                                </tr>
                                <tr>
                                    <td>Dinsdag t/m donderdag</td>
                                    <td>09:00 tot 17:00</td>
                                </tr>
                                <tr>
                                    <td>Vrijdag</td>
                                    <td>09:00 tot 12:30</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-6 hidden-md-down"></div>

                        <div class="col-lg-6 col-md-5 col-xs-12">
                            <h5 class="title">Contactgegevens</h5>
                            <ul class="link-list">
                                <li><i class="material-icons">location_on</i> <span href="#!">Stadswinkel, Mariënburg 30</span></li>
                                <li><i class="material-icons">phone</i> <span href="#!">14 024 235 65</span></li>
                                <li><i class="material-icons">email</i> <span href="#!">gemeente@nijmegen.nl</span></li>
                                <li><i class="material-icons">not_interested</i> <span href="#!">Gemeente Nijmegen</span></li>
                                <li><i class="material-icons">not_interested</i> <span href="#!">@nijmegen</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            Gemeente Nijmegen
        </div>
    </div>
</footer>
