<table class="responsive-table complex-table">
    <caption>
        Personen
        <p class="summary">
            Personen met voornaam, achternaam en beschrijving. De eerste kolom geeft de titel van een persoon weer.
        </p>
    </caption>
    <thead>
        <tr>
            <th scope="col">Titel</th>
            <th scope="col">Voornaam</th>
            <th scope="col">Achternaam</th>
            <th scope="col">Beschrijving</th>
            <th scope="col">Lorem Ipsum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Titel 1</th>
            <td>James</td>
            <td>Matman</td>
            <td>eget etiam</td>
            <td>pede nullam nascetur habitasse</td>
        </tr>
        <tr>
            <th scope="row">Titel 2</th>
            <td>The</td>
            <td>Tick</td>
            <td>accumsan non</td>
            <td>sit viverra aenean bibendum</td>
        </tr>
        <tr>
            <th scope="row">Titel 3</th>
            <td>Jokey</td>
            <td>Smurf</td>
            <td>maecenas pretium</td>
            <td>nascetur risus aliquet ipsum</td>
        </tr>
        <tr>
            <th scope="row">Titel 4</th>
            <td>Cindy</td>
            <td>Beyler</td>
            <td>consectetur mi</td>
            <td>metus est dictum mollis elementum torquent. Ad ligula quis convallis per natoque</td>
        </tr>
        <tr>
            <th scope="row">Titel 4</th>
            <td>Captain</td>
            <td>Cool</td>
            <td>porta non</td>
            <td>aenean lorem pulvinar eros</td>
        </tr>
    </tbody>
</table>
