{{> '@navbar-primary--default' }}

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                {{> '@facets' }}
            </div>
            <div class="col-lg-9 col-md-12">
                <div id="loading">Bezig met laden van de zoekresultaten..</div>
                <div id="searchresults">
                    {{> '@results' }}
                    {{!-- Link the pagination component (only for reference): @pagination --}}
                    <div class="search-results__pagination">
                        <nav aria-label="Pagina navigatie">
                            <ul class="pagination" id="pagination">
                                <li class="page-item page-item-previous">
                                    <a class="page-link" href="">
                                        <span aria-hidden="true">
                                            <span class="mdi mdi-chevron-left" aria-hidden="true"></span>
                                        </span>
                                        <span class="sr-only">Vorige</span>
                                    </a>
                                </li>
                                <li class="page-item page-item-next">
                                    <a class="page-link" href="">
                                        <span aria-hidden="true">
                                            <span class="mdi mdi-chevron-right" aria-hidden="true"></span>
                                        </span>
                                        <span class="sr-only">Volgende</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script id="pagination-item-template" type="text/template">
    <li class="page-item">
        <a class="page-link" href=""></a>
    </li>
</script>

<script id="pagination-item-current-template" type="text/template">
    <span class="sr-only">(huidig)</span>
</script>

{{> '@footer' }}
