{{> '@tpl-head' }}
</head>

<body>

    <main>
        {{!-- Underneath will render component output --}}
        {{{ yield }}}
    </main>

    {{> '@tpl-scripts' }}

    {{> '@progressbar-example-scripts' }}

</body>

</html>
