<div class="horizontal-collapse">
    <a class="btn-floating btn-large btn-floating-primary btn-floating-collapse">
        <i class="mdi mdi-message-processing" aria-hidden="true"></i>
    </a>
    <ul class="expand-horizontal animated">
        <li><i class="mdi mdi-phone" aria-hidden="true"></i></li>
        <li><i class="mdi mdi-near-me" aria-hidden="true"></i></li>
        <li><i class="mdi mdi-email" aria-hidden="true"></i></li>
        <li><i class="mdi mdi-facebook-box" aria-hidden="true"></i></li>
        <li><i class="mdi mdi-twitter-box" aria-hidden="true"></i></li>
        <li class="btn-floating-wrapper"></li>
    </ul>
</div>
