<div class="horizontal-collapse">
    <a class="btn-floating btn-large btn-floating-primary">
        <i class="mdi mdi-message-processing" aria-hidden="true"></i>
    </a>
    <div class="expand-horizontal" data-target="" id="collapseOne" data-wow-delay="0.3s">
        <ul>
            <li><i class="mdi mdi-facebook-box" aria-hidden="true"></i></li>
        </ul>
    </div>
</div>
