<div class="horizontal-collapse">
    <a class="btn-floating btn-large btn-floating-primary btn-floating-collapse">
        <span class="sr-only">How to contact/follow us</span>
        <i class="mdi mdi-message-processing" aria-hidden="true"></i>
    </a>
    <ul class="expand-horizontal animated">
        <li><a href="tel:+3114024"><span class="sr-only">Telephone</span><i class="mdi mdi-phone" aria-hidden="true"></i></a></li>
        <li><i class="mdi mdi-near-me" aria-hidden="true"></i></li>
        <li><a href="mailto:gemeente@nijmegen.nl"><span class="sr-only">E-mail</span><i class="mdi mdi-email" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/gemeentenijmegen"><span class="sr-only">Facebook</span><i class="mdi mdi-facebook-box" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/gem_nijmegen"><span class="sr-only">Twitter</span><i class="mdi mdi-twitter-box" aria-hidden="true"></i></a></li>
        <li class="btn-floating-wrapper"></li>
    </ul>
</div>
