<div class="container">
    <div class="row header">
        <div class="col-md-12">
            <h2>Wat zoekt u?</h2>
        </div>
    </div>
    <div class="search-query md-form">
        <form>
            <i class="fa fa-search prefix"></i>
            <input
                type="text"
                id="oi-query"
                class="oi-query form-control"
                name="oi-query"
                autocomplete="off"
                spellcheck="false"
                maxlength="127"
                dir="ltr"
            />
            <label for="oi-query" class="">Wat zoekt u?</label>
            <!-- <input type="button" id="oi-submit" class="oi-submit" name="oi-submit" value="Search"/> -->
        </form>
        
    </div>
    <div class="row">
        <!-- Trending results can be enabled here (needed on the homepage)  -->
        <!-- <div id="oi-trending-results"></div>  -->
        <div id="oi-related-queries"></div>
        <div class="col-md-2">
            <div class="oi-facet-constraints" id="oi-facet-cat"></div>
            <div class="oi-facet-constraints" id="oi-facet-date"></div>
            <div class="oi-facet-constraints" id="oi-facet-type"></div>
            <div class="oi-facet-constraints" id="oi-facet-lang"></div>
        </div>
        <div class="col-md-10">
            <span id="oi-spellcheck"></span>
            <span id="oi-header"></span>
            <div id="oi-results"></div>
            <div id="oi-pager"></div>
        </div>
    </div>
</div>
