{{> '@tpl-head' }}
</head>
<body>

<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

<script>
    $('[data-toast-type]').click(function () {
        toastr[$(this).data('toast-type')]($(this).data('toast-text'))
    });
</script>

</body>
</html>
