{{> '@tpl-head' }}
    <style type="text/css">
    body {padding: 150px 0 0;}
    </style>
</head>
<body>

<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

<script>
    $('[data-toggle="tooltip"]').tooltip()
</script>

</body>
</html>
