<div class="container oi-container">
    <div class="row">
        <div class="col-md-2">
            <div class="oi-facet-constraints" id="oi-facet-cat"></div>
            <div class="oi-facet-constraints" id="oi-facet-date"></div>
            <div class="oi-facet-constraints" id="oi-facet-type"></div>
        </div>
        <div class="offset-md-1 col-md-9">
            <h1 id="oi-header"></h1>
            <div id="oi-results"></div>
            <div id="oi-pager"></div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <div id="oi-trending-results"></div>
        </div>
    </div>
</div>
