<div class="progress" id="progress-example">
    <div class="progress-bar" role="progressbar" style="width: 0;" aria-label="Voortgangsbalk" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

<!-- Example script -->
{{> '@progressbar-example-scripts' }}
