<section aria-label="First example">
    <h1>Static example (html only)</h1>

    <nav aria-label="Pagina navigation (static)">
        <ul class="pagination">
            <li class="page-item page-item-previous disabled">
                <a class="page-link" aria-disabled="true" role="button" tabindex="-1">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-left" aria-hidden="true"></span></span>
                    <span class="sr-only">Vorige</span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="">1 <span class="sr-only">(huidig)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="">3</a>
            </li>
            <li class="page-item page-item-next">
                <a class="page-link" href="">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-right" aria-hidden="true"></span></span>
                    <span class="sr-only">Volgende</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

<section aria-label="Second example">
    <h1>Dynamic example (with pagination script)</h1>

    <nav aria-label="Pagina navigation (dynamic)">
        <ul class="pagination" id="paginationExample">
            <li class="page-item page-item-previous">
                <a class="page-link" href="">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-left" aria-hidden="true"></span></span>
                    <span class="sr-only">Vorige</span>
                </a>
            </li>
            <li class="page-item page-item-next">
                <a class="page-link" href="">
                    <span aria-hidden="true"><span class="mdi mdi-chevron-right" aria-hidden="true"></span></span>
                    <span class="sr-only">Volgende</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

<script id="pagination-item-template" type="text/template">
    <li class="page-item">
        <a class="page-link" href=""></a>
    </li>
</script>

<script id="pagination-item-current-template" type="text/template">
    <span class="sr-only">(huidig)</span>
</script>
