{{> '@tpl-head' }}
<style>
    body {
        padding: 150px 0 0;
    }
</style>
</head>

<body>

    <main>
        {{!-- Underneath will render component output --}}
        {{{ yield }}}
    </main>

    {{> '@tpl-scripts' }}

</body>

</html>
