{{> '@tpl-head' }}
</head>
<body>

<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

<script>
    function areInputsValid(currentInputs) {
        var isValid = true;
        $(".form-group").removeClass("has-error");
        for (var i = 0; i< currentInputs.length; i++) {
            if (!currentInputs[i].validity.valid){
                isValid = false;
                $(currentInputs[i]).closest(".form-group").addClass("has-error");
            }
        }
        return isValid;
    }

    function updateStepStatus(previousStep, newStep) {
        previousStep.addClass('disabled').addClass('completed').removeClass('active').attr('aria-label', 'completed step');
        newStep.addClass('active').attr('aria-label', 'active step');
    }

    // Stepper Form
    $(document).ready(function () {
        var navListItems = $('.stepper-steps li a'),
                allContent = $('.step-content'),
                allNextBtn = $('.nextBtn'),
                activeStep = $('.stepper-steps li.active a'),
                stepperFormInputs = $('#stepper-form :input');

        allContent.hide();

        stepperFormInputs.change(function(e) {
            var currentStepContent = $(this).closest(".step-content"),
                    currentStep = $('.stepper-steps li a[href="#' + currentStepContent.attr("id") + '"]').parent(),
                    nextStep = currentStep.next(),
                    currentInputs = currentStepContent.find("input");

            currentStep.removeClass('disabled');
            if (areInputsValid(currentInputs)) {
                // If valid enable next step, disable current step
                currentStepContent.find('.nextBtn').removeClass('disabled');
                nextStep.removeClass('disabled');
            } else {
                nextStep.addClass('disabled');
                currentStepContent.find('.nextBtn').addClass('disabled');
            }
        });

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);

            if (!$item.hasClass('disabled')) {
                allContent.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
                updateStepStatus($item.parent().prev(), $item.parent());
            }
        });

        allNextBtn.click(function(){
            var currentStepContent = $(this).closest(".step-content"),
                    nextStep = $('.stepper-steps li a[href="#' + currentStepContent.attr("id") + '"]').parent().next().children("a"),
                    currentInputs = currentStepContent.find("input");

            if (areInputsValid(currentInputs)) {
                nextStep.trigger('click');
            }
        });

        activeStep.trigger('click');
    });
</script>

</body>
</html>
