@charset "UTF-8";

// MDB Framework //

// Mixins
// @import "mdb/free/data/prefixer";
// @import "mdb/free/data/mixins";

// Variables
// @import "mdb/free/data/colors";
// @import "nijmegen/mdb-colors-override";

// @import "mdb/free/data/variables-b4";
// @import "mdb/free/data/variables";

// Global
// @import "mdb/free/global";

// MDB Free
// @import "mdb/free/typography";
// @import "mdb/free/animations";
// @import "mdb/free/waves";
// @import "mdb/free/helpers";
// @import "mdb/free/buttons";
// @import "mdb/free/forms-basic";
// @import "mdb/free/cards-basic";
// @import "mdb/free/navbars";
// @import "mdb/free/hover-effects";
// @import "mdb/free/footer";
// @import "mdb/free/carousels-basic";
// @import "mdb/free/modals";

// MDB Pro
// @import "mdb/pro/chips";
// @import "mdb/pro/progress";
// @import "mdb/pro/side-nav";
// @import "mdb/pro/forms-pro";
// @import "mdb/pro/cards-pro";
// @import "mdb/pro/dropdowns-pro";
// @import "mdb/pro/toasts";
// @import "mdb/pro/buttons-pro";
// @import "mdb/pro/tabs";
// @import "mdb/pro/navbars-pro";
// @import "mdb/pro/carousels-pro";
// @import "mdb/pro/accordion";
// @import "mdb/pro/stepper";
// @import "mdb/pro/date_picker/default";
// @import "mdb/pro/date_picker/default.date";
// @import "mdb/pro/date_picker/default.time";
// @import "mdb/pro/light-box";

// Bootstrap
@import "core/bootstrap/functions";
@import "core/bootstrap/variables";

// CORE
@import "core/mixins";
@import "core/colors";
@import "core/variables";
@import "core/global";
@import "core/helpers";
@import "core/typography";
@import "core/masks";
@import "core/waves";

// FREE
@import "free/animations-basic";
@import "free/animations-extended";
@import "free/buttons";
@import "free/cards";
@import "free/dropdowns";
@import "free/navbars";
@import "free/pagination";
@import "free/badges";
@import "free/modals";
@import "free/carousels";
@import "free/forms";
@import "free/input-group";
@import "free/msc";
@import "free/footers";
@import "free/list-group";
@import "free/tables";

// PRO
@import "pro/variables";
@import "pro/buttons";
@import "pro/social-buttons";
@import "pro/tabs";
@import "pro/cards";
@import "pro/dropdowns";
@import "pro/navbars";
@import "pro/scrollspy";
@import "pro/lightbox";
@import "pro/chips";
@import "pro/msc";
@import "pro/forms";
@import "pro/radio";
@import "pro/checkbox";
@import "pro/material-select";
@import "pro/switch";
@import "pro/file-input";
@import "pro/range";
@import "pro/input-group";
@import "pro/autocomplete";
@import "pro/accordion";
@import "pro/parallax";
@import "pro/sidenav";
@import "pro/ecommerce";
@import "pro/carousels";
@import "pro/steppers";
@import "pro/blog";
@import "pro/toasts";
@import "pro/animations";
@import "pro/charts";
@import "pro/progress";
@import "pro/scrollbar";
@import "pro/skins";

// Picker
@import "pro/picker/default";
@import "pro/picker/default-time";
@import "pro/picker/default-date";

// Sections
@import "pro/sections/templates";
@import "pro/sections/social";
@import "pro/sections/blog";
@import "pro/sections/team";
@import "pro/sections/testimonials";
@import "pro/sections/projects";
@import "pro/sections/magazine";
@import "pro/sections/pricing";
@import "pro/sections/contacts";

// Nijmegen overrides //

// comes from: mdb/free/data/variables-b4 and has value: 768px
$medium-screen-portrait: map-get($grid-breakpoints, 'md');

@function color($color, $type) {
    @if map-has-key($colors, $color) {
        $curr_color: map-get($colors, $color);
        @if map-has-key($curr_color, $type) {
            @return map-get($curr_color, $type);
        }
    }
    @warn "Unknown `#{name}` in $colors.";
    @return null;
}

@import "nijmegen/colors";
$font-size-root:             16px !default;
@import "nijmegen/mixins";
// @import "nijmegen/button-floating";
// @import "nijmegen/button-horizontal-collapse";
@import "nijmegen/icons";
@import "nijmegen/typography";
@import "nijmegen/buttons";
@import "nijmegen/listgroups";
@import "nijmegen/chips";
@import "nijmegen/labels";
@import "nijmegen/pagination";
@import "nijmegen/progress";
@import "nijmegen/sidenav";
@import "nijmegen/footer";
@import "nijmegen/alerts";
@import "nijmegen/modals";
@import "nijmegen/tabs";
@import "nijmegen/forms";
@import "nijmegen/navbars";
@import "nijmegen/carousel";
@import "nijmegen/accordion";
@import "nijmegen/popovers";
@import "nijmegen/tooltip";
@import "nijmegen/hover-effects";
@import "nijmegen/datepicker";
@import "nijmegen/timepicker";
@import "nijmegen/lightbox";
@import "nijmegen/steppers";
@import "nijmegen/sticky-content";
@import "nijmegen/responsive-table";
@import "nijmegen/listing";
@import "nijmegen/cards";

// Nijmegen search overrides based on OpenIndex implementation //
@import "nijmegen/3rdparty/openindex.scss";
