{{> '@tpl-head' }}
</head>
<body>

<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

{{> '@tpl-script-timepicker-config' }}

</body>
</html>
