{{> '@tpl-head' }}
</head>
<body>

<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

{{> '@tpl-script-timepicker-config' }}

{{!-- Open the timepicker onload --}}
<script>
    $('#input_starttime').click();
</script>

</body>
</html>
