<div class="md-form">
    <div class="time-picker">
        <input placeholder="uu:mm" type="text" id="time-picker-example-input" class="form-control time-picker-input" />
        <input type="hidden" class="time-picker-input-hidden" />
        <label for="time-picker-example-input">Time picker (uu:mm)</label>
        <button class="time-picker-button" aria-hidden="true" tabindex="-1">
            <i class="mdi mdi-timer-outline" aria-hidden="true"></i>
        </button>
    </div>
</div>
