<div class="nijmegen-theme">
    <p role="group" class="utrecht-button-group utrecht-button-group">
        <button class="utrecht-button utrecht-button--primary-action" type="button">Opslaan en doorgaan</button>
        <button class="utrecht-button utrecht-button--secondary-action" type="button">Terug</button>
    </p>
</div>
