<div class="pills" role="menu">
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem">Primary</a>
    </div>
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem" aria-current="true">Active</a>
    </div>
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem">Link</a>
    </div>
    <div class="pills__item">
        <button class="pills__button" role="menuitem">Button</button>
    </div>
</div>

<div class="pills --secondary" role="menu">
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem" aria-current="true">Secondary</a>
    </div>
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem">Link</a>
    </div>
    <div class="pills__item">
        <a class="pills__link" href="#" role="menuitem">Link</a>
    </div>
    <div class="pills__item">
        <button class="pills__button" role="menuitem">Button</button>
    </div>
</div>
