{{> '@tpl-head' }}
</head>
<body>

<main>
    {{!-- Underneath will render component output --}}
    {{{ yield }}}
</main>

{{> '@tpl-scripts' }}

<script>
    // SideNav button initialization
    $(".button-collapse").sideNav();
    // SideNav scrollbar initialization
    var sideNavScrollbar = $('.side-nav .custom-scrollbar').get(0);
    Ps.initialize(sideNavScrollbar);
</script>

</body>
</html>
