{{> '@tpl-head' }}
    <style type="text/css">
    </style>
</head>
<body>

{{!-- Underneath will render component output --}}
{{{ yield }}}


{{> '@tpl-scripts' }}

<script>
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('show');
</script>

</body>
</html>
