<a href="#" data-activates="slide-out" class="button-collapse">Open sidebar</a>

<div id="slide-out" class="side-nav fixed">
    <ul class="custom-scrollbar">
        <!-- Search Form -->
        <li class="search-form">
            <form class="form-inline">
                <label for="frm-navbar-search" class="sr-only">Zoeken</label>
                <input class="form-control" id="frm-navbar-search" type="text" placeholder="Zoeken">
                <i class="mdi mdi-magnify" aria-hidden="true"></i>
            </form>
        </li>
        <!--/. Search Form -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <button class="collapsible-header waves-effect arrow-r" aria-expanded="false" aria-controls="collapsible-group1">
                        <i class="mdi mdi-school" aria-hidden="true"></i>
                        Lorem
                        <i class="mdi mdi-chevron-down rotate-icon" aria-hidden="true"></i>
                    </button>
                    <div class="collapsible-body" id="collapsible-group1">
                        <ul class="collapsible-list">
                            <li><a href="#" class="waves-effect">Submit listing</a>
                            </li>
                            <li><a href="#" class="waves-effect">Registration form</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="mdi mdi-car" aria-hidden="true"></i>
                        Lorem
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="mdi mdi-human-female" aria-hidden="true"></i>
                        Lorem
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="mdi mdi-bike" aria-hidden="true"></i>
                        Lorem
                    </a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="mdi mdi-human-male" aria-hidden="true"></i>
                        Lorem
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!--/. Side navigation links -->
    <div class="sidenav-bg mask-strong"></div>
</div>
