<a href="#" data-activates="slide-out" class="button-collapse">navbar</a>

<ul id="slide-out" class="side-nav fixed sn-bg-1">
    <li class="search-form">
        <form class="form-inline">
            <label for="frm-navbar-search" class="sr-only">Zoeken</label>
            <input class="form-control" id="frm-navbar-search" type="text" placeholder="Zoeken">
            <i class="material-icons">search</i>
        </form>
    </li>
    <!--/.Search Form-->
    <!-- Side navigation links -->
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect arrow-r">
                    <i class="material-icons">school</i>
                    Lorem
                    <i class="material-icons rotate-icon">keyboard_arrow_down</i>
                </a>
                <div class="collapsible-body">
                    <ul class="collapsible-list">
                        <li><a href="#" class="waves-effect">Submit listing</a>
                        </li>
                        <li><a href="#" class="waves-effect">Registration form</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="waves-effect">
                    <i class="material-icons" style="opacity: 0;">not_interested</i>
                    Lorem
                </a>
            </li>
            <li>
                <a class="waves-effect">
                    <i class="material-icons" style="opacity: 0;">not_interested</i>
                    Lorem
                </a>
            </li>
            <li>
                <a class="waves-effect">
                    <i class="material-icons" style="opacity: 0;">not_interested</i>
                    Lorem
                </a>
            </li>
            <li>
                <a class="waves-effect">
                    <i class="material-icons" style="opacity: 0;">not_interested</i>
                    Lorem
                </a>
            </li>
        </ul>
    </li>
    <!--/. Side navigation links -->
    <div class="sidenav-bg mask-strong"></div>
</ul>
