a,
a:active {
    color: #a80a2d;
}

a:hover {
    color: #890825;
}


#tree-docs a,
#tree-docs a:active {
    color: #157c68;
}

#tree-docs a:hover {
    color: #1a6b5b;
}

.Header {
    color: #a80a2d;
    background-color: #fff;
}

.Header-navToggle svg {
    fill: #a80a2d;
}

[dir="ltr"] .Header-button {
    border-right: 1px solid rgba(168, 10, 45, 0.10);
}

.Browser-tab.is-active a {
    border-bottom-color: #a80a2d;
}

.Pen-previewLink svg {
    fill: #444;
}

.Tree-collectionLabel span::before {
    top: 0.4rem;
}

.Prose {
    max-width: 50em;
}

.Tree-title {
    font-weight: bold;
    color: #222;
}

.Browser-panel {
    background-color: #F9F9F9;
}

.Status-label {
    font-weight: bold;
}
