<section
    class="facets"
    role="navigation"
>
    <h1 class="facets__title">Filter results</h1>
    <div class="facets__facets hide">
        <div class="facets__group">
            <h2 class="facets__group-title">Document type</h2>
            <ul class="facets__list">
                <li class="facets__item active">
                    <a href="">PDF document (10)</a>
                </li>
                <li class="facets__item">
                    <a href="">Web page (12)</a>
                </li>
            </ul>
        </div>
        <div class="facets__group">
            <h2 class="facets__group-title">Date</h2>
            <ul class="facets__list">
                <li class="facets__item">
                    <a href="">Last week (10)</a>
                </li>
                <li class="facets__item">
                    <a href="">This week (11)</a>
                </li>
                <li class="facets__item">
                    <a href="">Today (1)</a>
                </li>
            </ul>
        </div>
    </div>
</section>
