<section class="facets" id="facets" role="navigation">
    <button class="facets__title">Filter results</button>
    <div class="facets__facets">
    </div>
</section>

<script id="facets-group-template" type="text/template">
    <div class="facets__group">
        <h2 class="facets__group-title"></h2>
        <ul class="facets__list">
        </ul>
    </div>
</script>

<script id="facets-item-template" type="text/template">
    <li class="facets__item">
        <a class="facets__link" href=""></a>
    </li>
</script>
